<ion-header>
<ion-toolbar>
      <ion-buttons [routerLink]="['/dashboard']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline"> </ion-icon>
      </ion-buttons>
      <ion-title>Home Feed</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <ion-list *ngFor="let post of post">
    <!-- <h3>{{post.cname}}</h3> -->
    <ion-card>
      <ion-card-header>
        <div class="poster">
          <ion-avatar slot="start" class="pfp">
            <img *ngIf="post?.profileimg; else placeholder_avatar;" [src]="post.profileimg" />
    
            <ng-template #placeholder_avatar>
            <!-- <div class="fallback">
              <p>Select Image</p>
            </div> -->
            </ng-template>
          </ion-avatar>
          <div class="label">
            <ion-label class="cardsubtitle">
              {{ post.fname }} {{ post.mname }} {{ post.lname }}
              <ng-container *ngIf="post.cname; else cname">
                of <b>{{ post.cname }}</b> posted an update
              </ng-container>
              <ng-template #cname>
                posted an update
              </ng-template>
            </ion-label>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="post">
          <img *ngIf="post?.imageUrl; else placeholder_avatar;" [src]="post.imageUrl" />
  
          <ng-template #placeholder_avatar>
          <!-- <div class="fallback">
            <p>Select Image</p>
          </div> -->
          </ng-template>
        </div>

        <ion-label class="title">{{post.ptitle}}</ion-label>
        <p>{{post.pdescription}}</p>
      <!-- <ion-button expand="block" fill="clear">https://www.sampleattachedlink.com</ion-button> -->
      <!-- <div class="actionbuttons">
        <ion-button fill="clear">Like</ion-button>
      </div> -->
        <ion-label class="timeposted">Date Posted: {{post.timeStamp}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
</div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="addpost(profile)">
    <ion-fab-button class="fabdesign">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
