<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="" slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label>About Company</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Company Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Company Name: </ion-label>
        <ion-input placeholder="Apple, Inc." [readonly]="true"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Company Address: </ion-label>
        <ion-input placeholder="Specified Address" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Company Contact: </ion-label>
        <ion-input placeholder="appleinc@icloud.com" [readonly]="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Company</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <div class="aboutcompany">
          <h4>Vision</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat explicabo facilis aliquam, dolores cum suscipit eum nobis repellat dignissimos voluptas nostrum eos mollitia iste! Perspiciatis soluta cum placeat quaerat recusandae?</p>
          <h4>Mission</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat explicabo facilis aliquam, dolores cum suscipit eum nobis repellat dignissimos voluptas nostrum eos mollitia iste! Perspiciatis soluta cum placeat quaerat recusandae?</p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Additional Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Company size: </ion-label>
        <ion-input placeholder="1000 employees"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Average Processing Time: </ion-label>
        <ion-input placeholder="1-2 Working Days"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Industry Type: </ion-label>
        <ion-input placeholder="Computer Information/Technology"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Benefits:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Health Insurance </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Free Apple Cloud Service </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
