ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
    ion-toolbar{
        --background:  #2855A1;
        color: white;
    }
}
ion-card {
    --background: #E5EBEE;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    margin: 8%;
    border-radius: 15px;
    border: solid 3px  rgb(6, 90, 26);
}
ion-card-header{
    --background: #eebc33;
    color: whitesmoke;
    margin: 0%;
}
ion-card-title{
    color: whitesmoke;
}
ion-item {
    --background: #E5EBEE;
}
.aboutcompany{
    margin: 5%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
