<ion-header >
  <ion-toolbar>
      <ion-buttons slot="start" [routerLink]="['/dashboardcompany']">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="employer" [fullscreen]="true" >
    <div class="container">
      <div class="avatar" >
        <ion-avatar class="image">
          <img *ngIf="employer?.profileimg; else placeholder_avatar;" [src]="employer.profileimg" />

            <ng-template #placeholder_avatar>
              <div class="fallback">
                <p>Update avatar</p>
              </div>
            </ng-template>
        </ion-avatar>
        <div >
        <span class="caption">{{employer.fname}} {{employer.mname}} {{employer.lname}}</span>
      </div>
    </div>

      <div class="ion-padding">
        <!-- Employer Profile-->
        <ion-card *ngIf="employer">
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Employer Profile</ion-card-title>
              <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/editemployerprofile']"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
              <ion-label class="cardsubtitle">Name: </ion-label>
              <ion-input value="{{employer.fname}} {{employer.mname}} {{employer.lname}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Citizenship: </ion-label>
              <ion-input value="{{employer.citizenship}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Contact Number: </ion-label>
              <ion-input  value="{{employer.contact}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Email Address: </ion-label>
              <ion-input  value="{{employer.email}}" [readonly]="true"></ion-input>
          </ion-card-content>
        </ion-card> 

        <!-- Company Details-->
        <ion-card *ngIf="company">
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Company Details</ion-card-title>
              <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/editcompanydetails']"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
              <ion-label class="cardsubtitle">Company Name: </ion-label>
              <ion-input value="{{company.cname}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Company Address: </ion-label>
              <ion-input value="{{company.companyaddress}} " [readonly]="true"></ion-input>
              <ion-label>Company Contact Number: </ion-label>
              <ion-input  value="{{company.ccontact}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Company Email Address: </ion-label>
              <ion-input value="{{company.cemail}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Company Size: </ion-label>
              <ion-input value="{{company.csize}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Average Processing Time: </ion-label>
              <ion-input value="{{company.cprocessingtime2}} {{company.cprocessingtime1}}" [readonly]="true"></ion-input>

              <ion-label class="cardsubtitle">Benefits: </ion-label>
              <ion-textarea value="{{company.cbenefits}}" autosize  [readonly]="true"></ion-textarea>

              <ion-label class="cardsubtitle">About Company: </ion-label>
              <ion-textarea autoGrow="true" value="{{company.cdetails}}" autosize  [readonly]="true"></ion-textarea>

          </ion-card-content>
        </ion-card>     
        

      </div> 
  </div>
</ion-content>

