<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Educational Background</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  

<div >
  <form >
    <div>

     

    <ion-card>
      <ion-card-content>
        <ion-button class="add" fill="clear">
          <ion-icon name="add-outline" size="large"> </ion-icon>
         </ion-button>
          <ion-item>
            <ion-label position="stacked">School Name:</ion-label>
            <ion-input type="text" class="custominput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Course:</ion-label>
            <ion-input type="text" class="custominput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Level:</ion-label>
            <ion-input type="text" class="custominput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label  position="stacked">Ongoing:</ion-label>
            <ion-list class="dropdown">
              <ion-item class="dropdown"  lines="none">
                <ion-select interface="popover" placeholder="Select" expand="block">
                  <ion-select-option value="yes">Yes</ion-select-option>
                  <ion-select-option value="no">No</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-item>
          <ion-item >
            <ion-label>Year Graduated:</ion-label>
            <ion-input type="date"></ion-input>
          

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-icon name="calendar-number-outline"></ion-icon>
                  <ion-datetime id="date" datetime="date" presentation="date" [showDefaultButtons]="true" doneText="Confirm" canceltext="Cancel"></ion-datetime>
                </ng-template>
              </ion-modal>

        </ion-item>
        
      </ion-card-content>
    </ion-card>
    </div>

    
  
    
 

    <ion-button type="submit" expand="block" class="btnreg">Save</ion-button>
  </form>
</div>



</ion-content>
