<ion-menu contentId="main-content">
  <ion-header collapse="fade">
    <ion-toolbar class="hamburgermenu">
      <ion-label class="ion-padding hamburgtitle">Menu</ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ion-card class="hamburgcard">
      <ion-button  fill="clear" class="card1menu" expand="block" [routerLink]="['/archived']">
        <ion-icon slot="start" name="archive-outline" style="color:#42505d;"></ion-icon>
        Archive</ion-button>
      <ion-button fill="clear" (click)="logout()" class="card1menu" expand="block">
        <ion-icon slot="start"  name="log-out-outline" style="color:#42505d;"></ion-icon>
        Logout</ion-button>
    </ion-card>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="uppertool">
      <ion-buttons fill="solid" slot="start">
        <ion-menu-button class="btn"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  
    <ion-card *ngFor="let users of users">
    <ion-item>
      <ion-avatar slot="start">
        <img *ngIf="users?.profileimg; " [src]="users.profileimg" />
      </ion-avatar>
      <ion-label>{{users.fname}} {{users.mname}} {{users.lname}} {{users.suffix}}</ion-label>
      
      <ion-button slot="end" shape="round" (click)="view(users)">View</ion-button>
      <!-- <ion-button slot="end" shape="round" color="danger" (click)="delete(users)">Archive</ion-button> -->
    </ion-item>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-router-outlet></ion-router-outlet>
  
        <ion-tab-bar class="lowertool">
          <ion-tab-button [routerLink]="['/dashboardadmin']">
            <ion-icon name="people"></ion-icon>Users
          </ion-tab-button>

          <!-- <ion-tab-button (click)="posts(profiles)">
            <ion-icon name="archive"></ion-icon>My Post
          </ion-tab-button> -->

          <ion-tab-button [routerLink]="['/listemployees']">
            <ion-icon name="person"></ion-icon>Employers
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/companyregister']" >
            <!-- <ion-badge color="danger">{{count}}</ion-badge> -->
            <ion-icon name="document"></ion-icon>Registry
          </ion-tab-button>
<!-- 
          <ion-tab-button [disabled]="true" [routerLink]="['/']" >
            <ion-badge color="danger">0</ion-badge>
            <ion-icon class="tabicon" name="chatbubble"></ion-icon>Messages
          </ion-tab-button>
           -->
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

</div>  
