<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/applicantprofile']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">

    <div>  <!--[hidden]="address.changed"-->


      <form [formGroup]="credentials" (ngSubmit)="editadd()" >
    

        <div class="map" #map></div>
        <P   style="color: red; text-align: center;">(Adjust the Marker if not accurate!)</P>
        <!-- <P *ngIf="address.changed == false;" style="color: red; text-align: center;">(This is one time only!)</P> -->

        <h3>Present Address</h3>

        <ion-card >
          <ion-card-content>
              <ion-item>
                <ion-input position="stacked" [readonly]="true" type="text" formControlName="currentaddress"  [value]="address.currentaddress" class="custominput"></ion-input>
              </ion-item>
     
          </ion-card-content>
        </ion-card>
        
        <h3>Home Address</h3>
        <ion-card >
          <ion-card-content >
            <ion-item> 
              <ion-toggle (ionChange)="checked($event)"></ion-toggle> <h5>Same with Current Address</h5>
            </ion-item>
              <ion-item>
                <ion-input position="stacked" placeholder="eh" [readonly]="isChecked"   type="text" formControlName="homeaddress" [value]="address.homeaddress" class="custominput"></ion-input>
              </ion-item>
          </ion-card-content>
        </ion-card>
    
        <ion-button type="submit"  [disabled]="!credentials.valid" expand="block" class="btnreg" shape="round" size="large">Save</ion-button>
    
      </form>

    </div>

     




<!-- Limiting User Edit Capability -->
 <!-- <div [hidden]="!address.changed" > 
  
    <form  [formGroup]="Ccredentials" (ngSubmit)="Ceditadd()" >
      <h3>Current Address</h3>

      <ion-card>
        <ion-card-content>
            <ion-item>
              <ion-input position="stacked" [readonly]="true" type="text"  [value]="address.currentaddress" class="custominput"></ion-input>
            </ion-item>
  
        </ion-card-content>
      </ion-card>
    
      
      <h3>Home Address</h3>
      <ion-card>
  
        <ion-card-content >
            <ion-item>
              <ion-input position="stacked"   type="text" formControlName="homeaddress" [value]="address.homeaddress" class="custominput"></ion-input>
            </ion-item>
        </ion-card-content>
      </ion-card>
  
      <ion-button type="submit"  [disabled]="!Ccredentials.valid" class="btnreg" expand="block" shape="round" size="large">Save</ion-button>
  
    </form>
</div> -->





</ion-content>
