<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/employees']"slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline" >  </ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon style="width: 50px; color: white;" name="ellipsis-vertical" id="open-modal">  </ion-icon>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-button expand="block" shape="round" color="danger">Terminate Employee's Term</ion-button>
    </ng-template>
  </ion-modal>
  <ion-card class="cardcontainer"  *ngIf="appl" >
    <ion-card-header>
      <div style="display: flex; align-items: center;">
        <ion-avatar slot="start">
          <img *ngIf="appl?.profileimg; " [src]="appl.profileimg" />
        </ion-avatar>
        <ion-card-title>{{appl.fname}} {{appl.mname}} {{appl.lname}} </ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
          <ion-label position="stacked" class="cardsubtitle">Age: </ion-label>
          <ion-input position="stacked" placeholder="22" class="custominput"[readonly]="true" value="{{appl.age}}"></ion-input>

          <ion-label position="stacked" class="cardsubtitle">Sex:</ion-label>
          <ion-input position="stacked" placeholder="Male" class="custominput"[readonly]="true" value="{{appl.sex}}"></ion-input>

          <!-- <ion-label position="stacked" class="cardsubtitle">Address:</ion-label>
          <ion-input position="stacked" placeholder="address" class="custominput"[readonly]="true" value="{{appl.address}}"></ion-input> -->

          <ion-label position="stacked" class="cardsubtitle">Contact No:</ion-label>
          <ion-input position="stacked" placeholder="09125685456" class="custominput"[readonly]="true"  value="{{appl.contact}}"></ion-input>

          <ion-label position="stacked" class="cardsubtitle">Email:</ion-label>
          <ion-input position="stacked" placeholder="sample@gmail.com" class="custominput"[readonly]="true"  value="{{appl.email}}"></ion-input>

          <!-- <ion-label position="stacked" class="cardsubtitle">Job Specialization:</ion-label>
          <ion-input position="stacked" placeholder="IT" [readonly]="true" class="custominput"></ion-input>  -->
          
          <!-- <ion-label position="stacked" class="cardsubtitle">Job Position:</ion-label>
          <ion-input position="stacked" placeholder="Select the employee's Job Position" class="custominput"></ion-input> -->

          <!-- <ion-label position="stacked" class="cardsubtitle">Job Order:</ion-label> -->
          <!-- <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input position="stacked" placeholder="Select start date" class="custominput"></ion-input>
              </ion-col>
              <ion-col>
                <ion-input position="stacked" placeholder="Select end date" class="custominput"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid> -->
          <!-- <ion-grid>
            <ion-row class="jobposition">
              <ion-badge class="positionbadges" color="tertiary">Web Designer</ion-badge>
              <ion-badge class="positionbadges" color="tertiary">Web Developer</ion-badge>
              <ion-badge class="positionbadges" color="tertiary">Graphic Designer</ion-badge>
              <ion-badge class="positionbadges" color="tertiary">Illustrator</ion-badge>
              <ion-badge class="positionbadges" color="tertiary">Software Engineer</ion-badge>
            </ion-row>
          </ion-grid>   -->


        <!--Ratings -->
        <ion-card class="cardcontainer" style="border: solid 3px  rgb(53, 66, 125);">
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Ratings</ion-card-title>
            </div>
          </ion-card-header>
          <ion-card-content>

                <ion-label position="stacked" class="cardsubtitle">Customer Satisfaction: </ion-label>
                <ion-input position="stacked" class="custominput" placeholder="Very Satisfactory" [readonly]="true"></ion-input>

                <ion-label position="stacked" class="cardsubtitle">Work Quality:</ion-label>
                <ion-input position="stacked" class="custominput" placeholder="Satisfactory"[readonly]="true"></ion-input>

                <ion-label position="stacked" class="cardsubtitle">Professionalism:</ion-label>
                <ion-input position="stacked" class="custominput" placeholder="Fair" [readonly]="true"></ion-input>

                <ion-label position="stacked" class="cardsubtitle">Technical Skills:</ion-label>
                <ion-input position="stacked" class="custominput" placeholder="Poor" [readonly]="true"></ion-input>

                <ion-label position="stacked" class="cardsubtitle">Comments:</ion-label>
                <ion-textarea autoGrow="true" autosize [readonly]="true" class="custominput"></ion-textarea>        
          </ion-card-content>
        </ion-card>

        <ion-buttons fill="solid" class="btns">
          <ion-button class="add" type="Submit"  expand="block" fill="solid" shape="round" [routerLink]="['/rateemployee']">Add Ratings</ion-button>
        </ion-buttons>
    </ion-card-content>
  </ion-card>

</ion-content>