//HEADER  STUFF
ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}


ion-button{
    float: right;
}


ion-card{
  --background: #71a8fa;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 1rem;
  // border: solid 3px  rgb(53, 66, 125);
}

ion-card-header{
  --background: #277dff;
  color: whitesmoke;
  margin: 0%;
}
ion-card-title{
  color: whitesmoke;
}
ion-card-subtitle{
  color:whitesmoke;

}

ion-card-content{
  color: black;
  margin: auto;
}