<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/authentication']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Setup your company account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding "> 

   <!-- MOre SignUp Page -->
<div >
  <form>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Company Information</ion-card-title>
      </ion-card-header>      
      <ion-card-content>
            <ion-label position="stacked">Company Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="cname" class="custominput"></ion-input>

            <ion-label position="stacked">Company Contact:</ion-label>
            <ion-input position="stacked" type="number" formControlName="ccontact" class="custominput"></ion-input>

            <ion-label position="stacked">Company Email:</ion-label>
            <ion-input position="stacked" type="email" formControlName="cemail" class="custominput"></ion-input>

          <ion-label position="stacked">Company Address:</ion-label>
          <ion-input  position="stacked" formControlName="currentPlaceID" type="text" class="custominput"></ion-input>

          <ion-input  position="stacked" formControlName="companyaddress" type="text" class="custominput"></ion-input>

          <form >
            <ion-input position="stacked" formControlName="companyaddress" type="text" class="custominput"></ion-input>
            <ion-button type="submit"><ion-icon name="search-outline"></ion-icon></ion-button>
            <ion-button > <ion-icon name="location-outline"></ion-icon></ion-button>
          </form>
            <ion-item button>
              <ion-icon name="pin"></ion-icon>

            </ion-item>

      </ion-card-content>
    </ion-card>
    <ion-button type="submit" expand="block" class="btnreg" shape="round" size="large">Finish</ion-button>
  </form>
</div>

</ion-content>
