ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
    ion-toolbar{
        --background:  #2855A1;
        color: white;
    }
}

.container{
    // border: 2px solid #3AB3C1;
    padding-bottom: 3%;
}

.avatar{
    vertical-align: top;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 40px;
    // padding-bottom: 5%;
    flex-direction: column;
    background:  #2855A1;
}

ion-card{
    --background: #71a8fa;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card.cardcontainer {
    --background: #71a8fa;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card-header{
    --background: #277dff;
    color: whitesmoke;
    margin: 0%;
}
ion-card-title{
    color: whitesmoke;
}
ion-input.custominput{
    border: solid 2px rgb(53, 66, 125);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
ion-textarea{
    border: solid 1px  rgb(143, 92, 172);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
ion-card-content{
    color: black;
    margin: auto;
}
ion-label.cardsubtitle{
    font-size: 1.2em;
    font-weight: 500;
}
ion-icon{
    height: 21px;
    width: 21px;
}

ion-button{
    float: right;
    margin-bottom:5%;
}
.buttondiv{
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 90%;
}
.action{
    display: block;
}