<!-- notifications -->


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="uppertool">
      <ion-buttons fill="solid" slot="start">
        <ion-icon class="btn" name="menu" [routerLink]="['/dashboardcompany']" ></ion-icon>
      </ion-buttons>
      
      <ion-buttons fill="solid" slot="end">
        <ion-button type="">
          <ion-icon class="btn" name="person-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-content> 
      <ion-card >
        <ion-card-header>
          <div style="display: flex; justify-content: flex-end; margin: 5% 5% 0 0;">
            <ion-icon style="font-size: 30px; color: white;" name="ellipsis-horizontal"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none" >
              <ion-thumbnail slot="start">
                <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label class="my-card">John Doe has applied for your "Web Development" job listing </ion-label>            
          </ion-item>
          <ion-button class="review" type="Submit"  expand="block" fill="solid" shape="round" [routerLink]="['/viewnotification']">Review Application</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-header>
          <div style="display: flex; justify-content: flex-end; margin: 5% 5% 0 0;">
            <ion-icon style="font-size: 30px; color: white;" name="ellipsis-horizontal"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none" >
            <ion-thumbnail slot="start">
              <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label class="my-card">John Wick has applied for your "Web Development" job listing </ion-label>            
          </ion-item>
          <ion-button class="review" type="Submit"  expand="block" fill="solid" shape="round" [routerLink]="['/viewnotification']">Review Application</ion-button>

        </ion-card-content>
      </ion-card>

    </ion-content>


</div>  
