ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}

ion-toolbar{
    --background:  #2855A1;
}

//////profile pic
.avatar{
    text-align: center;
    background:  #2855A1;

}


.avatar-container {
    position: relative;
    display: inline-block;
    margin-top: 2%;
}


.avatar-overlay{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    // background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    // padding: 15%;
    // font-size: 150%;
    color: #fff;
    opacity: 0.5;
}

.caption {
    color: #ffffff;
    margin: 2% 0;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

ion-card {
    --background: #E5EBEE;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    margin: 8%;
    border-radius: 15px;
    border: solid 3px  rgb(53, 66, 125);
}
ion-card-header{
    --background: #2F7EF5;
    color: whitesmoke;
    margin: 0%;
}
ion-card-title{
    color: whitesmoke;
}
ion-item {
    --background: #E5EBEE;
}
ion-icon{
    height: 21px;
    width: 21px;
}

