<ion-header >
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="container">
    <div class="avatar">
      <div class="avatar-container">
        <ion-avatar (click)="presentActionSheet()">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          <code *ngIf="result"> </code>
          <ion-icon name="camera" class="avatar-overlay"></ion-icon>
        </ion-avatar>
      </div>
      <div>   
        <span class="caption">John I. Doe Jr.</span>
      </div>
    </div>

    <div class="ion-padding">
        <!-- Company Details-->
        <ion-card >
          <ion-card-header>
            <ion-card-title>Company Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Company Name: </ion-label>
              <ion-input placeholder="employername"[readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Company Contact: </ion-label>
              <ion-input  placeholder="employernumber" [readonly]="true"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>     

      <!-- Company Address -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Company Address</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-item lines="none">
                <ion-label>Street: </ion-label>
                <ion-input placeholder="cstreet" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Barangay: </ion-label>
              <ion-input  placeholder="cbarangay" [readonly]="true"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Town: </ion-label>
                <ion-input placeholder="ctown" [readonly]="true"></ion-input>
              </ion-item>
              
              <ion-item lines="none">
                <ion-label>Province: </ion-label>
              <ion-input placeholder="cprovince" [readonly]="true"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Country: </ion-label>
              <ion-input placeholder="cprovince" [readonly]="true"></ion-input>
              </ion-item>
          </ion-card-content>
        </ion-card>
        
        <!-- About Company -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>About Company</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-input [readonly]="true">
            Here's a small text description for the card content. Nothing more, nothing less.
            Here's a small text description for the card content. Nothing more, nothing less.
            Here's a small text description for the card content. Nothing more, nothing less.
            </ion-input>
          </ion-card-content>
        </ion-card>

        <!-- About Company -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Additional Company Information</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Company Size: </ion-label>
              <ion-input placeholder="csize" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Average Processing Time: </ion-label>
              <ion-input placeholder="cprocesstime" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Industry Type: </ion-label>
              <ion-input placeholder="industrytype" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Benefits and Others: </ion-label>
              <ion-input placeholder="cbenefits" [readonly]="true"></ion-input>
            </ion-item>

          </ion-card-content>
        </ion-card>

      </div> 
  </div>
</ion-content>

