<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/']"slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline" >  </ion-icon>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content> 
      <ion-card >
        <!-- <ion-card-header>
          <div style="display: flex; justify-content: flex-end; margin: 5% 5% 0 0;">
            <ion-icon style="font-size: 30px; color: white;" name="ellipsis-horizontal"></ion-icon>
          </div>
        </ion-card-header> -->
        <ion-card-content>
          <ion-item lines="none" >
              <ion-thumbnail slot="start">
                <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label class="my-card">John Doe</ion-label>            
          </ion-item>
          <ion-button class="review" type="Submit"  expand="block" fill="solid" shape="round" [routerLink]="['/viewemployee']">View Employee</ion-button>
        </ion-card-content>
      </ion-card>


</ion-content>
