ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
    --color: white;
    ion-icon{
        --background: white;
    }
}

ion-toolbar{
    --background:  #2855A1;
}

ion-avatar{
    margin: auto;
    width: 150px;
    height: 150px;
}
.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }
ion-button{
    text-transform: initial;
}