<ion-header>
  
</ion-header>

<ion-content class="">


  <img src="assets/header.png" alt="">

  <div class="segment-container">
    <ion-segment mode="ios" value="si" [(ngModel)]="selectTabs">
      <ion-segment-button class="login"  value="si" >
        Sign In
      </ion-segment-button>
      <ion-segment-button value="su" >
        Sign Up
      </ion-segment-button>
    </ion-segment>
    </div>


<!-- SignIn Segment -->
  <div *ngIf ="selectTabs === 'si'">
    <form [formGroup]="credentials" (ngSubmit)="login()">
      <ion-card >
        <!-- <ion-card-title>Login Here!</ion-card-title> -->
        <ion-card-content>
              <ion-label position="stacked"> Email</ion-label>
              <ion-input formControlName="email" type="text"></ion-input>
              <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Invalid Email</ion-note>
              <br>
              <ion-label position="stacked"> Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
              <ion-note *ngIf="credentials.get('password').hasError('required') && credentials.get('password').touched" color="danger">
                Required!
              </ion-note>
              <ion-note *ngIf="credentials.get('password').hasError('pattern') && credentials.get('password').touched" color="danger">
                Password must contain numbers and special characters.
              </ion-note>             
                 <ion-button shape="round" [disabled]="!credentials.valid" type="submit" class="btnlog" expand="block">
                  Log In
                </ion-button>
                <ion-button fill="clear" [routerLink]="['/forgot']" expand="block">
                  Forgot your password? Click here
                </ion-button>
        </ion-card-content>
      </ion-card>

    </form>
  </div>

  <!-- SignUp Segment -->
<div *ngIf ="selectTabs === 'su'">

  <form [formGroup]="credentials" (ngSubmit)="signup()">
    <ion-card >
      <ion-card-content>
              <ion-label position="stacked"> Email</ion-label> 
              <ion-input formControlName="email" type="text"></ion-input>
              <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Invalid Email</ion-note>
              <br>
              <ion-label position="stacked"> Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
              <ion-note *ngIf="credentials.get('password').hasError('required') && credentials.get('password').touched" color="danger">
                Required!
              </ion-note>
              <ion-note *ngIf="credentials.get('password').hasError('pattern') && credentials.get('password').touched" color="danger">
                Password must contain numbers and special characters.
              </ion-note> 
              <ion-button type="button" shape="round" [disabled]="!credentials.valid" (click)="signup()" expand="block" class="btnreg">
                Register as User
              </ion-button>
              <ion-button type="button" shape="round" [disabled]="!credentials.valid" (click)="signupc()" expand="block" class="btncompany">
                Register as Employer
              </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</div>
</ion-content>
