//HEADER  STUFF
ion-toolbar{
    --ion-background-color: #2855A1;
   
    img{
        width: 100px;
        height: auto;
    }
    ion-title{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
}


img{
    width: 100%;
    margin-bottom: 5px;
}
//############################


// Segment
    .segment-container{
        display: flex;
        justify-content: center;
        padding-bottom: 0.5rem;
        height: 60px;
        }

    ion-segment{
        margin-top: 3%;
        width: 60%;
        background: #83a6e3;
      }      
      ion-segment-button{
        color: white;
        --indicator-color: #2F7EF5 !important;
        --indicator-color-checked: transparent !important;
      }

// Forms auth
ion-card {
    border-radius: 15px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    // border: solid 2px  rgb(53, 66, 125);
    --background: #9dc4ff;
    color: azure;
}
ion-card-content{
    color: black;
    margin: auto;
}

ion-input{
    padding-left: 3%;
    border: solid 2px #83a6e3;
    border-radius: 15px;
    --background: #cddbf1;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
ion-label{
    margin-left: 4%;
}
ion-list.action{
    margin-top: 5%;
}
.btnlog{
    --background: #002e74;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    text-transform: initial;
    color: azure;
}

.btnreg{
    --background: #002e74;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    text-transform: initial;
    color: azure;
}

.btncompany{
    --background: #026a11;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    text-transform: initial;
}

 