//HEADER  STUFF
ion-toolbar{
    --ion-background-color: #2855A1;
   
    img{
        width: 100px;
        height: auto;
    }
    ion-title{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
}


img{
    width: 100%;
    margin-bottom: 5px;
}
//############################


// Segment
    .segment-container{
        display: flex;
        justify-content: center;
        padding-bottom: 0.5rem;
        height: 60px;
        }

    ion-segment{
        margin-top: 3%;
        width: 60%;
        background: #83a6e3;
      }      
      ion-segment-button{
        color: white;
        --indicator-color: #2F7EF5 !important;
        --indicator-color-checked: transparent !important;
      }

// Forms auth
ion-input{
    padding: 5%;
    border: #83a6e3 solid 2px;
}
ion-label{
    margin-left: 4%;
}
ion-list.action{
    margin-top: 5%;
}
.btnlog{
    background-color: #2F7EF5;
    width: 100%;
    height: 50px;
}

.btnreg{
    background-color: #2F7EF5;
    width: 100%;
    height: 50px;
    margin-top: 5%;
}


 