<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/moresignupspecialization']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Setup your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
<div >
  <form [formGroup]="credentials" (ngSubmit)="signup()">
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Current Address</ion-card-title>
      </ion-card-header>
      <ion-input [hidden]="true"  position="stacked" [value]="selectedCurrent" formControlName="currentaddress" type="text" class="custominput"></ion-input>
      <ion-card-content>
        <form action="" [formGroup]="credscurrent" (ngSubmit)="searchCurrent()">
          <ion-input   position="stacked" [value]="selectedCurrent" formControlName="currentaddress" type="text" class="custominput"></ion-input>
          <div class="apibutton">
            <ion-button class="apibuttons" shape="round" type="submit"><ion-icon name="search-outline"></ion-icon></ion-button>
            <ion-button class="apibuttons" shape="round" (click)="getCurrentc()"> <ion-icon name="location-outline"></ion-icon></ion-button>
          </div>
        </form>
          <ion-note slot="error" *ngIf="(currentaddress.dirty || currentaddress.touched) && currentaddress.errors">Required</ion-note>
          <ion-item button *ngFor="let address of addressesc" (click)="onSelectc(address)" >
            <ion-icon name="pin"></ion-icon>
            {{ address.description }}
          </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Home Address</ion-card-title>
        <ion-item>
          <ion-toggle (ionChange)="sameC($event)"></ion-toggle>
          <ion-label>Same with Current Address</ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>   
          <ion-input position="stacked" [value]="selectedHome" formControlName="homeaddress" type="text" class="custominput"></ion-input>
          <ion-note slot="error" *ngIf="(homeaddress.dirty || homeaddress.touched) && homeaddress.errors">Required</ion-note>
      </ion-card-content>
    </ion-card> 

   

   
    <ion-button type="submit"  shape="round "expand="block" class="btnreg" size="large">Finish</ion-button>
  </form>
</div>

</ion-content>
