<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/moresignup']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Setup your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
<div >
  <form >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Current Address</ion-card-title>
      </ion-card-header>
      <ion-input position="stacked" formControlName="currentaddress" type="text" class="custominput"></ion-input>
      <ion-card-content>
        <form action="">
          <ion-input   position="stacked" formControlName="currentaddress" type="text" class="custominput"></ion-input>
          <ion-button type="submit"><ion-icon name="search-outline"></ion-icon></ion-button>
          <ion-button > <ion-icon name="location-outline"></ion-icon></ion-button>
        </form>
          <ion-item button >
            <ion-icon name="pin"></ion-icon>

          </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Home Address</ion-card-title>
        <ion-item>
          <ion-toggle ></ion-toggle>
          <ion-label>Same with Current Address</ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>   
          <ion-input position="stacked" formControlName="homeaddress" type="text" class="custominput"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-button [routerLink]="['/moresignupaddress']" shape="round "expand="block" class="btnreg" size="large">Next</ion-button>
  </form>
</div>

</ion-content>
