//HEADER  STUFF
ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}

ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}
ion-card {
    --background: #70AFFA;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card-content{
    color: black;
    margin: auto;
}

ion-label{
    padding-left: 3%;
    font-size: 1.2em;
    font-weight: 500;
}

ion-textarea{
    border: solid 2px rgb(53, 66, 125);
    border-radius: 15px;
    --background: white;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.btnreg{
    --background-color: #2855A1;
    --color: white;
    margin-top: 5%;
    text-transform: initial;

}

  


 