ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}
ion-toolbar{
    --background:  #2855A1;
}
.title{
    color: white;
}
ion-card.joblisting {
    --background: #eee8ff;
    // box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card-header{
    --background: #5e2ee4;
    color: whitesmoke;
}
ion-card-title{
    color: whitesmoke;
}
ion-card-subtitle{
    color: whitesmoke;
}
ion-card-content{
    color: black;
    padding: 1rem;
}
.jobcardinfo{
    display: block;
    width: 80%;
    --border-radius: 50px;
    --background: #142680;
    text-transform: initial;
    -ms-transform: translate(50%, 50%);
    transform: translate(10%, 0%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.location{
    display: flex;
    flex-direction: row;
}
.jobspecialization{
    display: flex;
    flex-direction: row;
}
ion-icon{
    padding: 0.5rem;
}
// .selectlocation{
//     width: 100%;
// }
// .selectjobspecialization{
//     width: 100%;
// }
// .sort{
//     width: 100%;
// }
.searchbutton{
    text-transform: initial;
    --background:#2F7EF5;
    --color: white;
    border-radius: 45px;
}
.timeposted{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #2F7EF5;
}

  ion-searchbar{
    border-radius: 45px;
  }
  ion-item{
    width: 100%;
  }
  ion-row{
    width: 100%;
  }

.jobtitle{
    display: flex;
    // margin-top: 0.5rem;
    // padding-bottom: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.viewmore{
  margin:0;
  color: white;
  text-transform: initial;
  // text-align: right;
  // padding-left: 2rem;
  // padding-top: 0.3rem;
  // margin-left: auto;
  // margin-right: 0;
}
  .checked{
    display: flex;
    flex-direction: row;
    ion-label{
        margin: auto;
    }
    ion-button{
      padding: 0;
      margin-right: 0;
    }
  }
  .checkbox{
    ion-label{
        padding-left: 4px;
    }
  }

  ion-badge {
    border-radius: 50px;
    --color: white;
    margin-top: 0.3rem;
    --padding-end: 20px;
    --padding-start: 20px
  }

.distance{
  display: flex;
  align-items: center;
    ion-icon{
      font-size: 1rem;
      padding:0 .3rem 0 0;
    }

}

  ion-badge.bchecked{
    margin-left: 2px;
}

  .positionbadges{
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
  }

  .reset{
    // margin-top: 0.5rem;
    margin-right: 0.5rem;
    float: right;
}
.position{
  padding-left: 3px;
}
.uncheck{
  margin-left: auto;
  margin-right: 0;
  color: white;
}