ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}
ion-toolbar{
    --background:  #2855A1;
}
.title{
    color: white;
}
ion-card.joblisting {
    --background: #eee8ff;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card-header{
    --background: #5e2ee4;
    color: whitesmoke;
}
ion-card-title{
    color: whitesmoke;
}
ion-card-subtitle{
    color: whitesmoke;
}
ion-card-content{
    color: black;
}
.jobcardinfo{
    display: block;
    width: 80%;
    --border-radius: 50px;
    --background: #2F7EF5;
    text-transform: initial;
    -ms-transform: translate(50%, 50%);
    transform: translate(10%, 0%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.location{
    display: flex;
    flex-direction: row;
}
.jobspecialization{
    display: flex;
    flex-direction: row;
}
ion-icon{
    padding: 0.5rem;
}
.selectlocation{
    width: 100%;
}
.selectjobspecialization{
    width: 100%;
}
.searchbutton{
    text-transform: initial;
    --background:#2F7EF5;
    --color: white;
}
