<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboard']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label class="title">Search</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="searchengine">
    <ion-searchbar animated="true" placeholder="Job Title"></ion-searchbar>
    <!-- <div class="location">
      <ion-icon name="location-outline"></ion-icon>
      <ion-select class="selectlocation" placeholder="Select Place">
        <ion-select-option value="">Address 1</ion-select-option>
        <ion-select-option value="">Address 2</ion-select-option>
        <ion-select-option value="">Address 3</ion-select-option>
      </ion-select>
    </div> -->
    <div class="jobspecialization">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-select class="selectjobspecialization" placeholder="Job Specialization">
        <ion-select-option value="">Accounting/Finance</ion-select-option>
        <ion-select-option value="">Admin/Human Resources</ion-select-option>
        <ion-select-option value="">Agriculture, Forestry & Fishery</ion-select-option>
        <ion-select-option value="">Armed Forces</ion-select-option>
        <ion-select-option value="">Arts/Media/Communication</ion-select-option>
        <ion-select-option value="">Building/Construction</ion-select-option>
        <ion-select-option value="">Computer/Information Technology</ion-select-option>
        <ion-select-option value="">Craft & Related Trade Workers</ion-select-option>
        <ion-select-option value="">Education/Training</ion-select-option>
        <ion-select-option value="">Engineering</ion-select-option>
        <ion-select-option value="">Healthcare</ion-select-option>
        <ion-select-option value="">Hotel/Restaurant</ion-select-option>
        <ion-select-option value="">Manufacturing</ion-select-option>
        <ion-select-option value="">Plant & Machine Operators & Assemblers</ion-select-option>
        <ion-select-option value="">Sales/Marketing</ion-select-option>
        <ion-select-option value="">Sciences</ion-select-option>
      </ion-select>
    </div>
    <ion-button expand="block" class="searchbutton">Search Job Listing</ion-button>
  </div>
  <div class="results">
    <ion-card class="joblisting">
      <ion-card-header>
        <ion-card-title>
          Looking for Web Dev
        </ion-card-title>
        <ion-card-subtitle>
          <!-- {{job.cname}} -->
          <!-- Company Name, Company Address  Not Working. NO NEED FOR COMPANY DETAILS HERE -->
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="jobposition">
            <ion-badge class="positionbadges" color="tertiary"></ion-badge>

          </ion-row>
          <ion-row class="companydetails">
            <ion-col class="labelheader">Starting Salary:</ion-col>
            <ion-col> peso/s</ion-col>

            <ng-template #placeholder_avatar>
              <ion-col>Company did not specify</ion-col>
            </ng-template>
            
          </ion-row>
          <div class="jobdetails">

            <!-- <ion-row class="jobposition">
              <ion-col class="labelheader">Job Position:</ion-col>
              <ion-col placeholder="">Senior Developer</ion-col>
            </ion-row> -->
            
            <ion-row class="jobtype">
              <ion-col class="labelheader">Job type:</ion-col>
              <ion-col></ion-col>
            </ion-row>
            <ion-row class="minimum">
              <ion-col class="labelheader">Minimum experience required:</ion-col>
              <ion-col> year/s</ion-col>

            <ng-template #placeholder_avatar1>
              <ion-col>No experience required</ion-col> 
            </ng-template>
            </ion-row>
            <ion-row class="education">
              <ion-col class="labelheader">Educational Attainment:</ion-col>
              <ion-col></ion-col>
              <ng-template #placeholder_avatar3>
                <ion-col>No minimum education required</ion-col> 
              </ng-template>
            </ion-row>
            <ion-row class="jobdescription">
              <ion-col class="labelheader">Job description:</ion-col>
              <ion-col></ion-col>
            </ion-row>
          </div>
        </ion-grid>
        <ion-label class="timeposted">Date Posted: </ion-label>
      </ion-card-content>
      <ion-button size="large" class="jobcardinfo" >Apply Now</ion-button>
    </ion-card>
  </div>
</ion-content>
