<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboard']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label class="title">Search</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-searchbar animated="true" placeholder="Job Title" show-clear-button="focus"></ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-searchbar search-icon="briefcase-outline" placeholder="Job Position" show-clear-button="focus"></ion-searchbar>
      <!-- <ion-icon name="arrow-undo-outline" class="reset"></ion-icon> -->
    </ion-row>
    <ion-row>
      <ion-row>
        <ion-item lines="none" class="checkbox">
          <ion-checkbox>Job Position Select</ion-checkbox>
          <ion-label> Webdeveloper</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
          <ion-badge class="bchecked">
            <div class="checked">
              <ion-label>Web Developer</ion-label>
              <ion-icon name="close-circle-outline"></ion-icon>
            </div>
          </ion-badge>
          <ion-badge class="bchecked">
            <div class="checked">
              <ion-label>Graphic Designer</ion-label>
              <ion-icon name="close-circle-outline"></ion-icon>
            </div>
          </ion-badge>
      </ion-row>
    </ion-row>
    <ion-row>
      <div class="sort">
        <ion-item lines="none">
        <ion-icon name="filter-outline"></ion-icon>
          <ion-select class="selectjobspecialization" placeholder="Sort Job Listings by:" interface="action-sheet">
            <ion-select-option value="recent">Recent</ion-select-option>
            <ion-select-option value="distance">Nearest distance</ion-select-option>
            <ion-select-option value="closest">Closest Match</ion-select-option>
            <ion-select-option value="highest">Highest Pay</ion-select-option>
            <ion-select-option value="lowest">Lowest Pay</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-row>
    <ion-row>
      <div class="sortsalary">
        <ion-item lines="none">
          <ion-icon name="wallet-outline"></ion-icon>
          <ion-select class="selectsalaryrange" placeholder="Sort Salary Range by:" interface="action-sheet">
            <ion-select-option value="ten">0 - 10,000 pesos</ion-select-option>
            <ion-select-option value="twenty">10,000 - 20,000 pesos</ion-select-option>
            <ion-select-option value="thirty">20,000 - 30,000 pesos</ion-select-option>
            <ion-select-option value="fifty">30,000 - 50,000 pesos</ion-select-option>
            <ion-select-option value="hundred">50,000 - 100,000 pesos</ion-select-option>
            <ion-select-option value="hundredplus">100,000+ pesos</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-row>
  </ion-grid>
  <div class="searchengine">
    <ion-button shape="round" expand="block" class="searchbutton">Search Job Listing</ion-button>
  </div>
  <div class="results">
    <ion-card class="joblisting">
      <ion-card-header>
        <ion-grid>
          <ion-row class="jobtitle">
            <ion-card-title>
             Looking for Web Developer mga slapsoil
            </ion-card-title>
            <ion-button class="viewmore" fill="clear">
              <ion-icon  name="information-circle" class="edit" ></ion-icon>
            </ion-button>
          </ion-row>

          <ion-row class="jobtitle">
            <ion-card-subtitle>
              <ion-badge class="distance" color="primary">
                <ion-icon name="location-outline"></ion-icon>
                <ion-label>69,420km from your location</ion-label>
              </ion-badge>
            </ion-card-subtitle>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="jobposition">
            <ion-badge class="positionbadges" color="tertiary">Web developer</ion-badge>
            

          </ion-row>
          <ion-row class="companydetails">
            <ion-col class="labelheader">Starting Salary:</ion-col>
            <ion-col>14,000 peso/s</ion-col>

            <ng-template #placeholder_avatar>
              <ion-col>Company did not specified</ion-col>
            </ng-template>
            
          </ion-row>
          <div class="jobdetails">

            <!-- <ion-row class="jobposition">
              <ion-col class="labelheader">Job Position:</ion-col>
              <ion-col placeholder="">Senior Developer</ion-col>
            </ion-row> -->
            
            <ion-row class="jobtype">
              <ion-col class="labelheader">Job type:</ion-col>
              <ion-col>Full time</ion-col>
            </ion-row>
            <ion-row class="minimum">
              <ion-col class="labelheader">Minimum experience required:</ion-col>
              <ion-col>15 year/s</ion-col>

            <ng-template #placeholder_avatar1>
              <ion-col>No experience required</ion-col> 
            </ng-template>
            </ion-row>
            <ion-row class="education">
              <ion-col class="labelheader">Educational Attainment:</ion-col>
              <ion-col placeholder="">Master's Degree</ion-col>
              <ng-template #placeholder_avatar3>
                <ion-col>No minimum education required</ion-col> 
              </ng-template>
            </ion-row>
            <ion-row class="jobdescription">
              <ion-col class="labelheader">Job description:</ion-col>
              <ion-col>Do everything we say and don't complain</ion-col>
            </ion-row>
          </div>
        </ion-grid>
        <ion-label class="timeposted">Date Posted: MM/DD/YYYY</ion-label>
      </ion-card-content>
        
        <ion-button size="large" class="jobcardinfo" >Apply Now</ion-button>

    </ion-card>
  </div>
</ion-content>
