<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/moresignup']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Setup your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
<div >
   

    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title>Select your preferred Job positions?</ion-card-title>
      </ion-card-header>
        <ion-card-content>

          <ion-searchbar debounce=500 (ionChange)="search($event)" [(ngModel)]="term" animated="true" placeholder="Job Positions"></ion-searchbar>
            <ion-list lines="none" >
              <ion-item button *ngFor="let filter of filteredquery | filter:term"  >
                <ion-icon name="briefcase-outline"></ion-icon>
                {{ filter.position }}
              </ion-item>
            </ion-list>
       
              
  </ion-card-content>
    </ion-card>

    <ion-button type="submit"  shape="round "expand="block" class="btnreg" size="large">Next</ion-button>
</div>

</ion-content>

<!-- removed form -->
