<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/moresignupaddress']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Setup your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
<div >
  <form>
    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title>What job specialization are you in?</ion-card-title>
      </ion-card-header>
        <ion-card-content>
            <ion-radio-group formControlName="specialization">
                <ion-item class="jobspecialradio">
                  <ion-label>Accounting/Finance</ion-label>
                  <ion-radio slot="end" value="Accounting/Finance"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Admin/Human Resources</ion-label>
                  <ion-radio slot="end" value="Admin/Human Resources"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Agriculture, Forestry & Fishery</ion-label>
                  <ion-radio slot="end" value="Agriculture, Forestry & Fishery"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Armed Forces</ion-label>
                  <ion-radio slot="end" value="Armed Forces"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Arts/Media/Communication</ion-label>
                  <ion-radio slot="end" value="Arts/Media/Communication"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Building/Construction</ion-label>
                  <ion-radio slot="end" value="Building/Construction"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Craft & Related Trade Workers</ion-label>
                  <ion-radio slot="end" value="Craft & Related Trade Workers"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Computer/Information Technology</ion-label>
                  <ion-radio slot="end" value="Computer/Information Technology"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Education/Training</ion-label>
                  <ion-radio slot="end" value="Education/Training"></ion-radio> 
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Engineering</ion-label>
                  <ion-radio slot="end" value="Engineering"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Healthcare</ion-label>
                  <ion-radio slot="end" value="Healthcare"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Hotel/Restaurant</ion-label>
                  <ion-radio slot="end" value="Hotel/Restaurant"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Manufacturing</ion-label>
                  <ion-radio slot="end" value="Manufacturing"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Plant & Machine Operators & Assemblers</ion-label>
                  <ion-radio slot="end" value="Plant & Machine Operators & Assemblers"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Sales/Marketing</ion-label>
                  <ion-radio slot="end" value="Sales/Marketing"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Sciences</ion-label>
                  <ion-radio slot="end" value="Sciences"></ion-radio>
                </ion-item>
                <ion-item class="jobspecialradio">
                  <ion-label>Services</ion-label>
                  <ion-radio slot="end" value="Services"></ion-radio>
                </ion-item>
            </ion-radio-group>
  </ion-card-content>
    </ion-card>

    <ion-button type="submit" shape="round "expand="block" class="btnreg" size="large">Finish</ion-button>
  </form>
</div>

</ion-content>
