<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/school']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Add Educational Background</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  

<div >
  <form  [formGroup]="credentials" (ngSubmit)="addsc()">
    <div>

     

    <ion-card>
      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">School Name:</ion-label>
            <ion-input position="stacked" formControlName="schoolname" type="text" class="custominput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Course:</ion-label>
            <ion-input  position="stacked" formControlName="course" type="text" class="custominput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Level:</ion-label>
            <ion-select  formControlName="level" placeholder="Select Level">
              <ion-select-option value="Primary">Primary</ion-select-option>
              <ion-select-option value="Secondary">Secondary</ion-select-option>
              <ion-select-option value="College">College</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item >
            <ion-label position="stacked">Year Graduated:</ion-label>
            <ion-input position="stacked" formControlName="yearg" type="date"></ion-input>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-icon name="calendar-number-outline"></ion-icon>
                  <ion-datetime id="date" datetime="date" presentation="date" [showDefaultButtons]="true" doneText="Confirm" canceltext="Cancel"></ion-datetime>
                </ng-template>
              </ion-modal>
        </ion-item>
      </ion-card-content>
    </ion-card>
    </div>

    
  
    
 

    <ion-button type="submit" [disabled]="!credentials.valid" expand="block" class="btnreg" shape="round" size="large">Save</ion-button>
  </form>
</div>



</ion-content>
