//HEADER  STUFF
ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}
ion-card {
    --background: #70AFFA;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    // margin: 8%;
    border-radius: 15px;
    border: solid 3px  rgb(53, 66, 125);
}
ion-card.cardcontainer {
    --background: #71a8fa;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}

ion-card-content{
    color: black;
    margin: auto;
}

ion-label.cardsubtitle{
    // padding-left: 3%;
    font-size: 1.2em;
    font-weight: 500;
}
ion-input.custominput{
    white-space: pre-wrap;
    word-wrap: break-word;
    border: solid 2px rgb(53, 66, 125);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    // text-align: justify;
}

ion-item{
    border: solid 2px #136cd2;
    border-radius: 15px; 
    margin-bottom: 3%;
}

ion-select{
    border: solid 2px  rgb(53, 66, 125);
    border-radius: 15px;
    --background: #cddbf1;
    color: black;
    ion-select-option{
        --background: #cddbf1;
    }
}

ion-textarea{
    border: solid 1px  rgb(143, 92, 172);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.10rem;
    margin-top: 0.5rem;
}


.btnreg{
    width: 100%;
    height: 60px;
    --background-color: #2855A1;
    --color: white;
    margin-top: 5%;
}

h3{
    margin-left: 5%;
    color:  black;
}  

.dropdown{
        display: block;
        width: auto;
}
