//HEADER  STUFF
ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}

ion-button{
    float: right;
}


ion-card {
  --background: #ffffff;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
  margin: 8%;
  border-radius: 15px;
  border: solid 3px  rgb(53, 66, 125);
}
ion-card-title{
  color:black;
}
ion-card-subtitle{
  color: black;
}
ion-card-content{
  color: black;
  margin: auto;
}
