<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/applicantprofile']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Work Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-button [routerLink]="['/addexperience']">ADD</ion-button>


    <ion-card class="ion-padding" *ngFor="let e of experience">
      <ion-card-title>
        {{ e.cname }}
      </ion-card-title>
      <ion-card-subtitle>
        {{e.datef}} to {{e.datet}}
      </ion-card-subtitle>
      <ion-card-content>
        <p>{{e.caddress}}</p>
        <p>{{e.jtitle}}</p>
        <ion-button type="button" (click)="edit(e)" >Edit</ion-button>
      </ion-card-content>
    </ion-card>

</ion-content>
