//HEADER  STUFF
ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}

ion-button{
    float: right;
}
ion-card {
  --background: #E5EBEE;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
  margin: 8%;
  border-radius: 15px;
  border: solid 3px  rgb(53, 66, 125);
}
ion-card-header{
  --background: #2F7EF5;
  color: whitesmoke;
  margin: 0%;
}
ion-card-title{
  color: whitesmoke;
}
ion-item {
  --background: #E5EBEE;
}
ion-icon{
  height: 21px;
  width: 21px;
}
.footer{
  display: block;
  width: 100%;
  --background: #2F7EF5;
  border-radius: 0px 0px 15px 15px;
}
ion-button{
  display: block;
  width: 80%;
}
