ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}

ion-toolbar{
    --background:  #2855A1;
    --color: white;
}

ion-card {
    --background: #eee8ff;
    // box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card-header{
    --background: #5e2ee4;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ion-card-title{
    color: rgb(0, 0, 0);
    // padding-top: 0.8rem;
    font-size: 18px;
    // font-weight: bold;
}
ion-card-subtitle{
    color: whitesmoke;
}
ion-card-content{
    color: black;
    padding: 1rem;
}

ion-button{
    text-transform: initial;
    margin-top: 1rem;
}
.view{
    --background: #5e2ee4;
}
