<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboardcompany']" slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label>Notifications</ion-label>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <div class="block">
          <ion-button expand="block" color="danger" shape="round">Delete Notification</ion-button>
          <ion-button expand="block" color="primary" shape="round">Cancel</ion-button>
        </div>
      </ng-template>
    </ion-modal>
    <ion-card (click)="viewapply(n)" *ngFor="let n of notifications" style="background-color: #71a8fa">
      <ion-card-header>
        <div style="display: flex; justify-content: flex-end; margin: 5% 5% 0 0;">
          <ion-icon style="font-size: 30px; color: white;" name="ellipsis-horizontal" id="open-modal"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" >
            <ion-thumbnail slot="start">
              <img class="profilepicimage" *ngIf="n.application?.profileimg; else ph" alt="Silhouette of mountains" src="n.application.profileimg" />
              <ng-template #ph>
                <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ng-template>
            </ion-thumbnail>
            <ion-label  class="my-card">{{n.application.fname}} {{n.application.lnamme}} applied to your listing "{{n.application.mname}}" </ion-label>     
            <ion-label  class="my-card">{{n.time}}" </ion-label>            
       
        </ion-item>
        <!-- <ion-button class="review" type="Submit"  expand="block" fill="solid" shape="round" [routerLink]="['/viewnotification']">Review Application</ion-button> -->
      </ion-card-content>
    </ion-card>
    
      <ion-item class="clickable"  button detail="true" [routerLink]="['/viewnotification']">
        <ion-avatar slot="start">
          <img alt="Profile piture" src="assets/header.png" />
        </ion-avatar>
        <ion-label>
          <ion-label>John D. Dow</ion-label>
          <ion-label class="ion-text-wrap">has applied to your "JobTitle" listing.</ion-label>
          <ion-label>9:50 AM</ion-label>
        </ion-label>
      </ion-item>
  
      <ion-item class="static" button detail="true" [routerLink]="['/viewemployee']">
        <ion-avatar slot="start">
          <img alt="Profile piture" src="assets/header.png" />
        </ion-avatar>
        <ion-label>
          <ion-label class="ion-text-wrap">John D. Dow's contract will end on DD/MM/YYYY</ion-label>
          <ion-label>9:50 AM</ion-label>
        </ion-label>
      </ion-item>
  </ion-content>

