<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboardcompany']" slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label>Notifications</ion-label>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <div class="block">
          <ion-button expand="block" color="danger" shape="round">Delete Notification</ion-button>
          <ion-button expand="block" color="primary" shape="round">Cancel</ion-button>
        </div>
      </ng-template>
    </ion-modal>
    
      <ion-item  (click)="viewapply(n)" *ngFor="let n of notifications" class="clickable"  button detail="true" [routerLink]="['/viewnotification']">
        <ion-avatar slot="start">
       
          <img class="profilepicimage" *ngIf="n.application?.profileimg; else ph" src="{{n.application.profileimg}}" />
          <ng-template #ph>
            <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ng-template>        </ion-avatar>
        <ion-label>
          <ion-label>{{n.application.fname}} {{n.application.lname}}</ion-label>
          <ion-label class="ion-text-wrap"> has applied to your "{{n.application.mname}}" listing.</ion-label>
          <ion-label class="time">{{n.time}}</ion-label>
        </ion-label>
      </ion-item>
      <ion-item class="static" [routerLink]="['/viewnotification']">
        <ion-avatar slot="start">
          <img class="profilepicimage" src=""/>
          <ng-template #ph>
            <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ng-template>        </ion-avatar>
        <ion-label>
          <ion-label class="ion-text-wrap">Your CompanyName registration has been accepted.</ion-label>
          <!-- <ion-label class="time">{{n.time}}</ion-label> -->
        </ion-label>
      </ion-item>
      <ion-item class="staticred" [routerLink]="['/viewnotification']">
        <ion-avatar slot="start">
          <img class="profilepicimage" src=""/>
          <ng-template #ph>
            <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ng-template>        </ion-avatar>
        <ion-label>
          <ion-label class="ion-text-wrap">Your CompanyName registration has been declined.</ion-label>
          <!-- <ion-label class="time">{{n.time}}</ion-label> -->
        </ion-label>
      </ion-item>
  
    
  </ion-content>

