<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/authentication']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Setup your company account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding "> 

   <!-- MOre SignUp Page -->
<div >
  <form [formGroup]="credentials" (ngSubmit)="signupc()">
    <div class="personalinfo">
    <h3>Employer Information</h3>
    <ion-card>      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">First Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="fname" class="custominput"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Middle Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="mname" class="custominput"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Last Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="lname" class="custominput"></ion-input>
          </ion-item>

          
          <ion-item>
            <ion-label position="stacked">Contact:</ion-label>
            <ion-input position="stacked" type="number" formControlName="contact" class="custominput"></ion-input>
          </ion-item>


      </ion-card-content>
    </ion-card>


    <h3>Company Information</h3>
    <ion-card>      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Company Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="cname" class="custominput"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Company Contact:</ion-label>
            <ion-input position="stacked" type="number" formControlName="ccontact" class="custominput"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Company email:</ion-label>
            <ion-input position="stacked" type="email" formControlName="cemail" class="custominput"></ion-input>
          </ion-item>
          <h4>Company Address</h4>
          <ion-item>
            <ion-label position="stacked">Street</ion-label>
            <ion-input position="stacked" formControlName="street" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Barangay</ion-label>
            <ion-input position="stacked" formControlName="barangay" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Town</ion-label>
            <ion-input position="stacked" formControlName="town" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Province</ion-label>
            <ion-input position="stacked" formControlName="province" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Country</ion-label>
            <ion-input position="stacked" formControlName="country" type="text"></ion-input>
          </ion-item>


      </ion-card-content>
    </ion-card>
    </div>


    <ion-button type="submit" [disabled]="!credentials.valid" expand="block" class="btnreg">Finish</ion-button>
  </form>
</div>



</ion-content>
