<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/authentication']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Setup your company account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding "> 

   <!-- MOre SignUp Page -->
<div >
  <form [formGroup]="credentials" (ngSubmit)="signupc()">
    <div class="personalinfo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Employer Information</ion-card-title>
      </ion-card-header>      
      <ion-card-content>
            <ion-label position="stacked">First Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="fname" class="custominput"></ion-input>

            <ion-label position="stacked">Middle Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="mname" class="custominput"></ion-input>

            <ion-label position="stacked">Last Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="lname" class="custominput"></ion-input>

            <ion-label position="stacked">Contact:</ion-label>
            <ion-input position="stacked" type="number" formControlName="contact" class="custominput"></ion-input>

            
            <ion-label position="stacked">Citizenship:</ion-label>
            <ion-input position="stacked" type="text" formControlName="citizenship" class="custominput"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Employer Information</ion-card-title>
      </ion-card-header>      
      <ion-card-content>
            <ion-label position="stacked">Company Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="cname" class="custominput"></ion-input>

            <ion-label position="stacked">Company Contact:</ion-label>
            <ion-input position="stacked" type="number" formControlName="ccontact" class="custominput"></ion-input>

            <ion-label position="stacked">Company email:</ion-label>
            <ion-input position="stacked" type="email" formControlName="cemail" class="custominput"></ion-input>

          <h4>Company Address</h4>
          <ion-input [hidden]="true"  position="stacked" [value]="currentPlaceID" formControlName="currentPlaceID" type="text" class="custominput"></ion-input>

          <ion-input [hidden]="true"  position="stacked" [value]="selectedCurrent" formControlName="companyaddress" type="text" class="custominput"></ion-input>

          <form action="" [formGroup]="credscurrent" (ngSubmit)="searchCurrent()">
            <ion-input   position="stacked" [value]="selectedCurrent" formControlName="companyaddress" type="text" class="custominput"></ion-input>
            <ion-button type="submit"><ion-icon name="search-outline"></ion-icon></ion-button>
            <ion-button (click)="getCurrentc()"> <ion-icon name="location-outline"></ion-icon></ion-button>
          </form>
            <ion-note slot="error" *ngIf="(companyaddress.dirty || companyaddress.touched) && companyaddress.errors">Required</ion-note>
            <ion-item button *ngFor="let address of addressesc" (click)="onSelectc(address)" >
              <ion-icon name="pin"></ion-icon>
              {{ address.description }} 
            </ion-item>

      </ion-card-content>
    </ion-card>
    </div>
    <ion-button type="submit" [disabled]="!credentials.valid" expand="block" class="btnreg" shape="round" size="large">Finish</ion-button>
  </form>
</div>

</ion-content>
