//HEADER  STUFF
ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}
ion-card {
    border-radius: 15px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    // border: solid 2px  rgb(53, 66, 125);
    --background: #71a8fa;
    color: azure;
}
ion-card-header{
    --background: #277dff;
    color: whitesmoke;
    margin: 0%;
    margin-bottom: 10px;
}
ion-card-title{
    color: azure;
    font-weight: 300;
}
ion-card-content{
    color: white;
    margin: auto;
}
ion-label{
    padding-left: 0.8rem;
    font-size: medium;
}
ion-item.suffix{
    border: none;
    display: flex;
    flex-direction: row;
}
ion-input.custominput{
    border: solid 2px  rgb(53, 66, 125);
    border-radius: 15px;
    --background: #cddbf1;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;


}

ion-item.custominput{
    border: solid 2px  rgb(53, 66, 125);
    border-radius: 15px;
    --background: #cddbf1;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;


}

.btnreg{
    width: 100%;
    --background-color: #2855A1;
    --color: white;
    margin-top: 1.5rem;
    text-transform: initial;
}
h3{
    margin-left: 3%;
}

.suffix{
    margin-top: 2%;
}



ion-note{
    margin-left: 6%;
    --color: rgb(255, 74, 74);
}
.apibutton{
    display: flex;
    flex-direction: row;
}
.apibuttons{
    width: 50%;
}
.toggle{
    display: flex;
    flex-direction: row;
    ion-label{
        padding-top: 0.3rem;
    }
}

ion-button.urc{
    text-transform: initial;
    margin-top: 3px;
    margin-bottom: 3px;
    ion-icon{
        margin-right: 3px;
    }
}