//HEADER  STUFF
ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}