<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/companyprofile']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Employer Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="employer" class="ion-padding ">


<div >
  <form [formGroup]="credentials" (ngSubmit)="editemployer()">
    <div>
    <h3>Employer Profile</h3>
    <ion-card>
      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">First Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="fname" value="{{employer.fname}}" class="custominput"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(fname.dirty || fname.touched) && fname.errors">Required</ion-note>

          <ion-item>
            <ion-label position="stacked">Middle Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="mname" value="{{employer.mname}}" class="custominput"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(mname.dirty || mname.touched) && mname.errors">Required</ion-note>

          <ion-item>
            <ion-label position="stacked">Last Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="lname" value="{{employer.lname}}" class="custominput"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(lname.dirty || lname.touched) && lname.errors">Required</ion-note>

          <ion-item>
            <ion-label position="stacked">Contact Number:</ion-label>
            <ion-input position="stacked" type="number" formControlName="contact" value="{{employer.contact}}" class="custominput"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(contact.dirty || contact.touched) && contact.errors">Required</ion-note>

          <ion-item>
            <ion-label position="stacked">Email Address:</ion-label>
            <ion-input position="stacked" type="text" formControlName="email" value="{{employer.email}}" [readonly]="true" class="custominput"></ion-input>
          </ion-item>
      </ion-card-content>
    </ion-card> 
    </div>

    
  
    
 

    <ion-button type="submit" expand="block" class="btnreg">Save</ion-button>
  </form>
</div>



</ion-content>

