<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/companyprofile']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Employer Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">


<div >
  <form >
    <div>
    <h3>Employer Profile</h3>
    <ion-card>
      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Name:</ion-label>
            <ion-input position="stacked" type="text" class="custominput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contact Number:</ion-label>
            <ion-input position="stacked" type="number" class="custominput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email Address:</ion-label>
            <ion-input position="stacked" type="text" class="custominput"></ion-input>
          </ion-item>
      </ion-card-content>
    </ion-card> 
    </div>

    
  
    
 

    <ion-button type="submit" expand="block" class="btnreg">Save</ion-button>
  </form>
</div>



</ion-content>

