<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/companyprofile']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Employer Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="employer" class="ion-padding ">


<div >
  <form [formGroup]="credentials" (ngSubmit)="editemployer()">
    <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Employer Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-label position="stacked">Change Profile Picture:</ion-label>
          <ion-input position="stacked" #myInput  type="file" (change)="upload($event)"></ion-input>

            <ion-label position="stacked">First Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="fname" value="{{employer.fname}}" class="custominput"></ion-input>

          <ion-note slot="error" *ngIf="(fname.dirty || fname.touched) && fname.errors">Required</ion-note>

            <ion-label position="stacked">Middle Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="mname" value="{{employer.mname}}" class="custominput"></ion-input>

          <ion-note slot="error" *ngIf="(mname.dirty || mname.touched) && mname.errors">Required</ion-note>

            <ion-label position="stacked">Last Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="lname" value="{{employer.lname}}" class="custominput"></ion-input>

          <ion-note slot="error" *ngIf="(lname.dirty || lname.touched) && lname.errors">Required</ion-note>

            <ion-label position="stacked">Contact Number:</ion-label>
            <ion-input position="stacked" type="number" formControlName="contact" value="{{employer.contact}}" class="custominput"></ion-input>

          <ion-note slot="error" *ngIf="(contact.dirty || contact.touched) && contact.errors">Required</ion-note>

            <ion-label position="stacked">Email Address:</ion-label>
            <ion-input position="stacked" type="text" formControlName="email" value="{{employer.email}}" [readonly]="true" class="custominput"></ion-input>

      </ion-card-content>
    </ion-card> 
    </div>
    <ion-button type="submit" size="large" class="btnreg">Save</ion-button>
  </form>
</div>



</ion-content>

