<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Add Job Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="job" class="ion-padding ">
  <div>
    <form [formGroup]="credentials" (ngSubmit)="addjoblisting()">
      <ion-card>
        <ion-card-header class="jobdetails">
          <ion-card-title>Job Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input placeholder="Job title Needed" position="stacked" type="text" formControlName="jtitle" ></ion-input>
          <ion-input placeholder="Starting Salary" position="stacked" type="number" formControlName="jsalary" ></ion-input>
          <h2>Job Specialization</h2>
          <div class="select">
            <ion-select label="Default label" placeholder="Select job specialization" class="jobspecialization" formControlName="jspecialization">
            <ion-select-option value="accounting">Accounting/Finance</ion-select-option>
            <ion-select-option value="adminhr">Admin/Human Resources</ion-select-option>
            <ion-select-option value="agriculture">Agriculture, Forestry & Fishery</ion-select-option>
            <ion-select-option value="armedforces">Armed Forces</ion-select-option>
            <ion-select-option value="arts">Arts/Media/Communication</ion-select-option>
            <ion-select-option value="building">Building/Construction</ion-select-option>
            <ion-select-option value="computer">Computer/Information Technology</ion-select-option>
            <ion-select-option value="craft">Craft & Related Trade Workers</ion-select-option>
            <ion-select-option value="education">Education/Training</ion-select-option>
            <ion-select-option value="engineering">Engineering</ion-select-option>
            <ion-select-option value="healthcare">Healthcare</ion-select-option>
            <ion-select-option value="hotel">Hotel/Restaurant</ion-select-option>
            <ion-select-option value="manufacturing">Manufacturing</ion-select-option>
            <ion-select-option value="plant">Plant & Machine Operators & Assemblers</ion-select-option>
            <ion-select-option value="sales">Sales/Marketing</ion-select-option>
            <ion-select-option value="sciences">Sciences</ion-select-option>
          </ion-select>
          <h2>Job Type</h2>
          <ion-select label="Default label" placeholder="Select job type" class="jobtype" formControlName="jtype">
            <ion-select-option value="fulltime">Full Time</ion-select-option>
            <ion-select-option value="hybrid">Hybrid</ion-select-option>
            <ion-select-option value="wfh">Work from home</ion-select-option>
          </ion-select>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header class="companydetails">
          <ion-icon style="float: right; color: white;" name="create-outline" class="edit" [routerLink]=""></ion-icon>
          <ion-card-title>Company Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input position="stacked" formControlName="cname" value="{{job.cname}}" [readonly]="true"></ion-input>
          <ion-input position="stacked" formControlName="caddress" value="{{job.street}} {{job.barangay}} {{job.town}} {{job.province}} {{job.country}}" [readonly]="true"></ion-input>
          <ion-input position="stacked" formControlName="ccontact" value="{{job.ccontact}}" [readonly]="true"></ion-input>
          <ion-input position="stacked" formControlName="cemail" value="{{job.cemail}}" [readonly]="true"></ion-input>
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header class="companydetails">
          <ion-icon style="float: right; color: white;" name="create-outline" class="edit" [routerLink]=""></ion-icon>
          <ion-card-title>About Company</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-textarea formControlName="cdetails" value="{{job.cdetails}}" autogrow="true" [readonly]="true" class="custominput"></ion-textarea>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header class="companydetails">
          <ion-icon style="float: right; color: white;" name="create-outline" class="edit" [routerLink]=""></ion-icon>
          <ion-card-title>Additional Information</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label position="stacked">Company size: </ion-label>
            <ion-input position="stacked" formControlName="csize" value="{{job.csize}}" [readonly]="true"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">Average Processing Time: </ion-label>
            <ion-input position="stacked" formControlName="cprocessingtime" value="{{job.cprocessingtime2}} {{job.cprocessingtime1}}" [readonly]="true"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header class="companydetails">
          <ion-icon style="float: right; color: white;" name="create-outline" class="edit" [routerLink]=""></ion-icon>
          <ion-card-title>Benefits</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="benefits">
              <ion-textarea formControlName="cbenefits" value="{{job.cbenefits}}" autogrow="true" [readonly]="true" class="custominput"></ion-textarea>
            </div>
        </ion-card-content>
      </ion-card>
      <ion-button class="uploadjoblisting" type="submit">Upload</ion-button>

    </form>
  </div>
  
</ion-content>
