ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}
ion-card{
    border-radius: 15px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    // border: solid 2px  rgb(53, 66, 125);
    --background: #71a8fa;
    color: azure;
}
ion-item{
    border: solid 2px  rgb(53, 66, 125);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.5rem;
}
ion-input{
    border: solid 2px  rgb(53, 66, 125);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
ion-select{
    // border: solid 2px  rgb(53, 66, 125);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    ion-select-option{
        --background: #cddbf1;
    }
}
ion-label{
    font-size: medium;
    padding-left: 3%;
    // padding-top: 0.5rem;
}
ion-textarea{
    // border: solid 2px rgb(53, 66, 125);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.selectitem{
    border: none;
}
  
.benefits{
    display: flex;
    flex-direction: column;
}
.uploadjoblisting{
    // display: block;
    // width: 100%;
    // --border-radius: 15px;
    --background: #2F7EF5;
    // margin: 0%;
    text-transform: initial;
}

.minexp{
    display: flex;
    flex-direction: row;
    ion-input{
        height: 50px;
        margin-bottom: 0.5rem;
    }
    ion-list{
        margin-top: 0.2rem;
    }
}

// ion-item.jobposition{
//     border: solid 2px  #7953A9;
//     border-radius: 45px;
//     --background: #B9BFFF;
//     color: black;
//     margin-bottom: 0.1rem;
//     padding: 0;
// }

ion-item.checked{
    display: block;
    border: solid 1px  rgb(86, 27, 223);
    border-radius: 45px;
    --background: #7c43f5;
    color: white;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    width: 98%;

    ion-label{
        color: white;
    }

}
.joblisting{
    display: flex;
    flex-direction: row;
    ion-label{
      padding: 0;
    }
}

.reset{
    float: right;
}
ion-card-title{
    color: white;
}