<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboardcompany']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Add Job Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="job" class="ion-padding ">
  <div>
    <form [formGroup]="credentials" (ngSubmit)="addjoblisting()">
      <ion-card>
        <ion-card-header class="jobdetails">
          <ion-card-title>Job Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input placeholder="Job title Needed" position="stacked" type="text" formControlName="jtitle" ></ion-input>
          <ion-input placeholder="Starting Salary" position="stacked" type="number" formControlName="jsalary" ></ion-input>
          
          <ion-label>Job Specialization</ion-label>
            <ion-item lines="none">
            <ion-select label="Default label" placeholder="Select job specialization" class="jobspecialization" formControlName="jspecialization" expand="block">
            <ion-select-option value="Accounting/Finance">Accounting/Finance</ion-select-option>
            <ion-select-option value="Admin/Human Resources">Admin/Human Resources</ion-select-option>
            <ion-select-option value="Agriculture, Forestry & Fishery">Agriculture, Forestry & Fishery</ion-select-option>
            <ion-select-option value="Armed Forces">Armed Forces</ion-select-option>
            <ion-select-option value="Arts/Media/Communication">Arts/Media/Communication</ion-select-option>
            <ion-select-option value="Building/Construction">Building/Construction</ion-select-option>
            <ion-select-option value="Computer/Information Technology">Computer/Information Technology</ion-select-option>
            <ion-select-option value="Craft & Related Trade Workers">Craft & Related Trade Workers</ion-select-option>
            <ion-select-option value="Education/Training">Education/Training</ion-select-option>
            <ion-select-option value="Engineering">Engineering</ion-select-option>
            <ion-select-option value="Healthcare">Healthcare</ion-select-option>
            <ion-select-option value="Hotel/Restaurant">Hotel/Restaurant</ion-select-option>
            <ion-select-option value="manufacturing">Manufacturing</ion-select-option>
            <ion-select-option value="Plant & Machine Operators & Assemblers">Plant & Machine Operators & Assemblers</ion-select-option>
            <ion-select-option value="Sales/Marketing">Sales/Marketing</ion-select-option>
            <ion-select-option value="Sciences">Sciences</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-label>Job Type</ion-label>
        <ion-item lines="none">
          <ion-select label="Default label" placeholder="Select job type" class="jobtype" formControlName="jtype">
            <ion-select-option value="Full Time">Full Time</ion-select-option>
            <ion-select-option value="Hybrid">Hybrid</ion-select-option>
            <ion-select-option value="Work from home">Work from home</ion-select-option>
          </ion-select>
        </ion-item>

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header class="companydetails">
          <ion-card-title>Company Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input position="stacked" formControlName="cname" value="{{job.cname}}" [readonly]="true"></ion-input>
          <ion-input position="stacked" formControlName="caddress" value="{{job.companyaddress}}" [readonly]="true"></ion-input>
          <ion-input position="stacked" formControlName="ccontact" value="{{job.ccontact}}" [readonly]="true"></ion-input>
          <ion-input position="stacked" formControlName="cemail" value="{{job.cemail}}" [readonly]="true"></ion-input>
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header class="companydetails">
          <ion-card-title>About Company</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-textarea formControlName="cdetails" value="{{job.cdetails}}" autogrow="true" [readonly]="true" class="custominput"></ion-textarea>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header class="companydetails">
          <ion-card-title>Additional Information</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
            <ion-label position="stacked">Company size: </ion-label>
            <ion-input position="stacked" formControlName="csize" value="{{job.csize}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked">Average Processing Time: </ion-label>
            <ion-input position="stacked" formControlName="cprocessingtime" value="{{job.cprocessingtime2}} {{job.cprocessingtime1}}" [readonly]="true"></ion-input>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header class="companydetails">
          <ion-card-title>Benefits</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="benefits">
              <ion-textarea formControlName="cbenefits" value="{{job.cbenefits}}" autogrow="true" [readonly]="true" class="custominput"></ion-textarea>
            </div>
        </ion-card-content>
      </ion-card>
      <ion-button class="uploadjoblisting" type="submit">Upload</ion-button>

    </form>
  </div>
  
</ion-content>
