<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboard']" slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label>Notifications</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <div class="block">
        <ion-button expand="block" color="danger" shape="round">Delete Notification</ion-button>
        <ion-button expand="block" color="primary" shape="round">Cancel</ion-button>
      </div>
    </ng-template>
  </ion-modal> -->
  
    <!-- <ion-item class="clickable"  button detail="true" [routerLink]="['/']">
      <ion-avatar slot="start">
     
        <img class="profilepicimage" src="" />
        <ng-template>
          <img class="profilepicimage" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ng-template>        </ion-avatar>
      <ion-label>
        <ion-label></ion-label>
        <ion-label class="ion-text-wrap"></ion-label>
        <ion-label class="time"></ion-label>
      </ion-label>
    </ion-item> -->
    <div *ngFor="let n of notifications">


    <ion-item [routerLink]="['/myapplications']"  *ngIf="n.notiftype == 'applicationreject'" class="rejected">
      <ion-avatar slot="start">
        <ion-icon style="width: 30px;height: 30px;" name="close"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-label class="ion-text-wrap">Your application has been rejected!</ion-label>
        <ion-label class="time">{{n.date2}}</ion-label>
      </ion-label>
    </ion-item>

   

    <ion-item  [routerLink]="['/myapplications']" *ngIf="n.notiftype == 'applicationreview'" class="accept">
      <ion-avatar slot="start">
        <ion-icon style="width: 30px;height: 30px;" name="checkmark-done"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-label class="ion-text-wrap">Your application has been accepted and on review!</ion-label>
        <ion-label class="time">{{n.date2}}</ion-label>
      </ion-label>
    </ion-item>

    
    <ion-item [routerLink]="['/myapplications']" *ngIf="n.notiftype == 'applicationaccept'" class="accept">
      <ion-avatar slot="start">
        <ion-icon style="width: 30px;height: 30px;" name="checkmark-done"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-label class="ion-text-wrap">Your application has been approved! Message the employer now for more information</ion-label>
        <ion-label class="time">{{n.date2}}</ion-label>
      </ion-label>
    </ion-item>

    <!-- <ion-item class="accept">
      <ion-avatar slot="start">
        <ion-icon style="width: 30px;height: 30px;" name="book-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-label class="ion-text-wrap">Your application is under review</ion-label>
        <ion-label class="time">MM/DD/YYYY</ion-label>
      </ion-label>
    </ion-item> -->

    <ion-item  *ngIf="n.notiftype == 'enabledlisting'" class="inreview">
      <ion-avatar slot="start">
        <ion-icon style="width: 30px;height: 30px;" name="briefcase-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-label class="ion-text-wrap">Job Listing "{{n.listname}}" has been reactivated!</ion-label>
        <ion-label class="time">{{n.date2}}</ion-label>
      </ion-label>
    </ion-item>

    <ion-item  *ngIf="n.notiftype == 'disabledlisting'" class="rejected">
      <ion-avatar slot="start">
        <ion-icon style="width: 30px;height: 30px;" name="alert-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-label class="ion-text-wrap">Job Listing "{{n.listname}}" has been disabled. Submitted application will continue to be processed!</ion-label>
        <ion-label class="time">{{n.date2}}</ion-label>
      </ion-label>
    </ion-item>
 

</div>

  
</ion-content>


