img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    height: auto;
    margin-top: 30%;
}

h3{
    font-weight: bold;
}

p{
    text-align: center;
    font-weight: bold;
    color: rgb(109, 111, 113);
}

ion-button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;

    --background: #142680;
}

h6{
    color: #6e7bb9;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 90%;
}