ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}
ion-menu::part(backdrop) {
    background-color: rgba(18, 102, 237, 0.5);
  }
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 8px 5px rgba(1, 31, 105, 0.18);
  }
  .hamburgtitle{
    font-size: larger;
  }
.hamburger{
    --background:#E5EBEE;
}
.hamburgcard{
    border-radius: 15px;
    box-shadow: 4px 5px 16px;
    margin-bottom: 3%;
    --background: #FFFFFF;
}
.card1menu{
    --background: #FFFFFF;
    color: #000000;
    text-transform: initial;
}
.uppertool{
    --background:#2855A1;
}

.lowertool{
    --background:#ffffff;
}

ion-content{
    --background:#E5EBEE;
} 

// .btnheader{
//     width: auto;
//     font-size: 40px;
//     color: #ffffff; 
//     padding: 0%; 
// }
.btn{
    color: #ffffff; 
}
.activetoggle{
    display: flex;
    flex-direction: row;
}
ion-tabs{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    contain: layout size style;
    flex-direction: column;
    align-items: stretch;
}

ion-tab-bar{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
}

ion-tab-button{
    color: #2855A1;
}


ion-item.staticred {
    display: block;
    margin-top: 0.5rem;
    // margin-left: 0.5rem;
    // margin-right: 0.5rem;
    --background: rgb(240, 154, 154);
    --color: #151515;
    --border-radius: 45px;

    ion-label{
        font-size: 16px;
        --color: #151515;
        margin-right: 0.5rem;
        font-weight: bold;

    }
    ion-button{
        text-transform: initial;
        margin-left: 0;
    }
  }

ion-card.joblisting {
    --background: #eee8ff;
    // box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}

ion-modal{
    --height: 50%;
    --border-radius: 15px;
    
    ion-content{
        --background:#fff;
        .block{
            display: flex;
            align-items: center;
            text-align: justify;
    }
}
}
// ion-modal::part(backdrop) {
//     background: rgba(209, 213, 219);
//     opacity: 1;
// }
  
ion-modal ion-toolbar{
    --color:#ffffff;
    --background:#2F7EF5;

    ion-button{
        text-transform: initial;
        font-size: 18px;
    }
    

}

ion-card-header{
    --background: #5e2ee4;
    color: whitesmoke;
}
ion-card-title{
    color: whitesmoke;
}
ion-card-subtitle{
    color: whitesmoke;
}
ion-card-content{
    color: black;
    padding: 1rem;
}
ion-textarea{
    border: solid 2px rgb(53, 66, 125);
    border-radius: 15px;
    --background: rgb(242, 237, 245);
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.hamburgcard{
    --background: #ffffff;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
// .companydetails{
//     display: flex;
//     flex-direction: row;
// }
// .jobdetails{
//     display: flex;
//     flex-direction: column;
// }
// .jobtype{
//     display: flex;
//     flex-direction: column;
// }
// .jobspecialization{
//     display: flex;
//     flex-direction: column;
// }
// .jobdescription{
//     display: flex;
//     flex-direction: column;
// }
.timeposted{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #2F7EF5;
}
.jobcardinfo{
    display: block;
    width: 100%;
    --border-radius: 0px 0px 10px 10px;
    --background: #2F7EF5;
    margin: 0%;
    text-transform: initial;
}
.togglestatus{
    padding-top: 0.6rem;
}
ion-label{
    padding-left: 0.5rem;
}
// .labelheader{
//     font-size: 20px;
//     font-weight: 300;
// }
ion-icon{
    --background:#ffffff;
    margin-left: 5px;
}
.btns{
    display: flex; 
    flex-direction:column; 
    align-items: stretch;
    padding: 0% 10%;
    margin-bottom: 1rem;
}
.save{
    --background: #182b8b;;
    // --border-color: #2855A1;
    // --border-style: solid;
    // --border-width: 2px;
    color: #FFFFFF;

    text-transform: initial;
    // padding-left: 1rem;

    ion-badge{

     margin-right:1rem;
        
    }
}
ion-badge {
    border-radius: 50px;
    --color: white;
    --padding-end: 20px;
    --padding-start: 20px;
  }

  .positionbadges{
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
  }

  
.alert{
    display: block;
    background: rgb(240, 154, 154);
    width: 80%;
    border-radius: 45px;
    margin: auto;
    ion-label{
        padding: 0.2rem;
        text-align: center;
    }
    ion-img{
        margin-bottom: 10px;
    }
}
