<ion-menu contentId="main-content">
  <ion-header collapse="fade">
    <ion-toolbar class="hamburgermenu">
      <ion-label class="ion-padding hamburgtitle">Menu</ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card class="hamburgcard">
      <!-- <ion-button fill="clear" class="card1menu" expand="block">
        <ion-icon slot="start" name="bookmarks-outline" style="color: #1ccdf9;"></ion-icon>
        Saved</ion-button> -->
      <ion-button fill="clear" class="card1menu" expand="block" [routerLink]="['/aboutusc']">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        About Us</ion-button>
      <ion-button fill="clear" class="card1menu" expand="block" [routerLink]="['/privacypolicycompany']">
        <ion-icon slot="start" name="shield-half-outline" style="color: #42505d;"></ion-icon>
        Privacy Policy
      </ion-button>
      <ion-button fill="clear" class="card1menu" expand="block" (click)="view(company)">
        <ion-icon slot="start" name="person" style="color: #42505d;" ></ion-icon>
         Employees</ion-button>
       <!-- <ion-button fill="clear" class="card1menu" expand="block" [routerLink]="['/workorderlist']">
           <ion-icon slot="start" name="folder-open" style="color: #42505d;" ></ion-icon>
            Work Order</ion-button> -->
      <ion-button fill="clear" class="card1menu" expand="block" (click)="posts(employer)">
        <ion-icon slot="start" name="archive" style="color: #42505d;"></ion-icon>
        My Post</ion-button>
        <!-- <ion-tab-button (click)="posts(employer)">
          <ion-icon name="archive"></ion-icon>My Post
        </ion-tab-button> -->
      <!-- <ion-button fill="clear" class="card1menu" expand="block" [routerLink]="['/subscriptions']">
        <ion-icon slot="start" name="diamond-outline" style="color: #42505d;"></ion-icon>
        Get Premium</ion-button> -->
        <!-- <ion-button fill="clear" class="card1menu" expand="block">
          <ion-icon slot="start" name="briefcase" style="color: #42505d;"></ion-icon>
          Review Application</ion-button> -->
    </ion-card>
    <!-- <ion-card class="hamburgcard">
      <ion-button fill="clear" class="card1menu" expand="block">
        <ion-icon slot="start" name="settings" style="color: #42505d;"></ion-icon>
        Settings</ion-button>
    </ion-card> -->
    <ion-card class="hamburgcard">
      <ion-button fill="clear" class="card1menu" expand="block" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline" style="color:#42505d;"></ion-icon>
        Logout</ion-button>
    </ion-card>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="uppertool">
      <ion-buttons fill="solid" slot="start">
        <ion-menu-button class="btn"></ion-menu-button>
      </ion-buttons>
      
      <ion-buttons fill="solid" slot="end">
        <!-- <ion-button type="">
          <ion-icon class="btn" name="search" slot="icon-only"></ion-icon>
        </ion-button> -->
        <ion-button type=""  [routerLink]="['/companyprofile']">
          <ion-icon class="btn" name="person-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content   class="ion-padding ">
  <div class="alert" [hidden]="!button" *ngIf="company.status == 'Pending'" style="color: black;text-align: center;">
    <ion-label  [hidden]="!button" *ngIf="company.status == 'Pending'" class="alert">Account is pending for approval!</ion-label>
    <ion-img 
    src="assets/approval-removebg-preview.png"
    >
    </ion-img>
  </div>

  <div *ngIf="company.status == 'Accepted'" class="primary" style="color: black;text-align: center;">
    <ion-label *ngIf="company.status == 'Accepted'" class="primary">You may now post job listings!</ion-label>
    <ion-img  *ngIf="company.status == 'Accepted'"
    src="assets/addjoblist.png"
    >
    </ion-img>
  </div>


<ion-item class="staticred"  [hidden]="!button" *ngIf="company.status == 'Declined'">
  <div *ngIf="company.status == 'Declined'" [hidden]="!button" style="color: black;text-align: center;">
    <ion-label  [hidden]="!button" *ngIf="company.status == 'Declined'" >Account is declined!</ion-label>
  </div>

  <ion-button *ngIf="company.status == 'Declined'" id="open-modal" shape="round" slot="end" (click)="setOpen(true)">View Reason</ion-button>
  <!-- <ion-button id="open-modal" expand="block" shape="round">View</ion-button> -->
  <ion-modal trigger="open-modal"  [isOpen]="isModalOpen" class="ion-padding">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="block">
          <!-- <ion-textarea autoGrow="true" value="{{company.reason}}" autosize  [readonly]="true"></ion-textarea> -->
          <p>{{company.reason}}</p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button shape="round" *ngIf="company.status == 'Declined'" (click)="reapply(company)" slot="end">Reapply</ion-button>
</ion-item>


    <ion-card *ngFor="let job of job" class="joblisting">
      <ion-card-header>
        <ion-icon name="trash-outline" style="float: right; height: 25px; width: 25px" (click)="delete(job)"></ion-icon>
        <ion-icon class="edit" name="create-outline" style="float: right; height: 25px; width: 25px" (click)="edit(job)"></ion-icon>
        <div class="activetoggle">
          <ion-toggle (ionChange)="checked($event, job)" [checked]="job.state" style="float: right;"></ion-toggle>
          <ion-label class="togglestatus">Active</ion-label>
        </div>
        <ion-card-title>
          {{job.jtitle}}
        </ion-card-title>
        <ion-card-subtitle>
          <!-- {{job.cname}} -->
          <!-- Company Name, Company Address  Not Working. NO NEED FOR COMPANY DETAILS HERE -->
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="jobposition">
            <ion-badge class="positionbadges" *ngFor="let job of job.jposition" color="tertiary">{{job}}</ion-badge>

          </ion-row>
          <ion-row class="companydetails">
            <ion-col class="labelheader">Starting Salary:</ion-col>
            <ion-col *ngIf="job?.jsalary; else placeholder_avatar;">{{job.jsalary}} peso/s</ion-col>

            <ng-template #placeholder_avatar>
              <ion-col>Company did not specified</ion-col>
            </ng-template>
            
          </ion-row>
          <div class="jobdetails">

            <!-- <ion-row class="jobposition">
              <ion-col class="labelheader">Job Position:</ion-col>
              <ion-col placeholder="">Senior Developer</ion-col>
            </ion-row> -->
            
            <ion-row class="jobtype">
              <ion-col class="labelheader">Job type:</ion-col>
              <ion-col>{{job.jtype}}</ion-col>
            </ion-row>
            <ion-row class="minimum">
              <ion-col class="labelheader">Minimum experience required:</ion-col>
              <ion-col *ngIf="job?.jexperience; else placeholder_avatar1;">{{job.jexperience}} year/s</ion-col>

            <ng-template #placeholder_avatar1>
              <ion-col>No experience required</ion-col> 
            </ng-template>
            </ion-row>
            <ion-row class="education">
              <ion-col class="labelheader">Educational Attainment:</ion-col>
              <ion-col *ngIf="job?.attainment; else placeholder_avatar3;" placeholder="">{{job.attainment}}</ion-col>
              <ng-template #placeholder_avatar3>
                <ion-col>No minimum education required</ion-col> 
              </ng-template>
            </ion-row>
            <ion-row class="jobdescription">
              <ion-col class="labelheader">Job description:</ion-col>
              <ion-col>{{job.jdescription}}</ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col>
              Vacant slots:
            </ion-col>
            <ion-col>
              0/4
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-label class="timeposted">Date Posted: {{job.timestamp}}</ion-label>
      </ion-card-content>

      <ion-buttons fill="solid" class="btns">
        
        <ion-button (click)="applicant(job)" class="save" type="Submit" size="large" expand="block" fill="solid" shape="round" [routerLink]="['/applicantlist']">
          Applicants
        </ion-button>

      </ion-buttons>
    </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-router-outlet></ion-router-outlet>
  
        <ion-tab-bar >
          <ion-tab-button [routerLink]="['/hometabcompany']">
            <ion-icon name="home"></ion-icon>Home
          </ion-tab-button>
          <!-- <ion-tab-button (click)="posts(employer)">
            <ion-icon name="archive"></ion-icon>My Post
          </ion-tab-button> -->
          <ion-tab-button [routerLink]="['/dashboardcompany']">
            <ion-icon name="briefcase"></ion-icon>Job Listing 
          </ion-tab-button>

          <!-- <ion-tab-button tab="discover">
            <ion-icon name="briefcase"></ion-icon>Review Application 
          </ion-tab-button> -->

          <ion-tab-button [routerLink]="['/addjoblisting']" [disabled]="button">
            <ion-icon name="add-outline"></ion-icon>Add Job Listing
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/messagescompany']">
            <ion-badge color="danger" *ngIf="msgcount > 0">{{msgcount}}</ion-badge>
            <ion-icon name="chatbubble"></ion-icon>Messages
          </ion-tab-button>

          <ion-tab-button tab="notification">
            <ion-badge color="danger" *ngIf="notifcount > 0">{{notifcount}}</ion-badge>
            <ion-icon name="notifications" [routerLink]="['/notifications']"></ion-icon>Notification
          </ion-tab-button>
          
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

<!-- 
  <ion-button  [routerLink]="['/companyprofile']" >Company Profile</ion-button> -->

</div>  
