<ion-menu contentId="main-content">
  <ion-header collapse="fade">
    <ion-toolbar class="hamburgermenu">
      <ion-label class="ion-padding hamburgtitle">Menu</ion-label>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">
    <ion-card class="hamburgcard">
      <ion-button (click)="logout()" fill="clear" class="card1menu" expand="block">
        <ion-icon slot="start" name="log-out-outline" style="color:#42505d;"></ion-icon>
        Logout</ion-button>
    </ion-card>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="uppertool">
      <ion-buttons fill="solid" slot="start">
        <ion-menu-button class="btn"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let employers of employerdetails">
      <ion-item>
        <ion-avatar slot="start">
           <img *ngIf="employers?.profileimg; " [src]="employers.profileimg" />
        </ion-avatar>
        <ion-label>{{employers.fname}} {{employers.mname}} {{employers.lname}}</ion-label>
        
        <ion-button slot="end" shape="round" (click)="view(employers)">View</ion-button>
        <ion-button slot="end" shape="round" color="danger" (click)="delete(employers)">Delete</ion-button>
      </ion-item>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-router-outlet></ion-router-outlet>
  
        <ion-tab-bar class="lowertool">
          <ion-tab-button [routerLink]="['/dashboardadmin']">
            <ion-icon name="people"></ion-icon>Users
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/listemployees']">
            <ion-icon name="person"></ion-icon>Employers
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/companyregister']" >
            <ion-badge color="danger">{{count}}</ion-badge>
            <ion-icon name="document"></ion-icon>Registry
          </ion-tab-button>

          <ion-tab-button [disabled]="true" [routerLink]="['/']" >
            <ion-badge color="danger">1000</ion-badge>
            <ion-icon class="tabicon" name="chatbubble"></ion-icon>Messages
          </ion-tab-button>
          
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

</div>  
