<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboardcompany']" slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label>Applicants</ion-label>
      <!-- <ion-buttons slot="end">
        <ion-icon name="filter-outline" style="width: 50px; color: white;"></ion-icon>
        Sort by:
        <ion-select interface="popover" class="sortby">
          <ion-select-option>Recent</ion-select-option>
          <ion-select-option>Closest Match</ion-select-option>
          <ion-select-option>Most years of experience</ion-select-option>
        </ion-select>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-segment value="buttons" [(ngModel)]="selectTabs">
    <ion-segment-button value="applicants">
      <ion-label>Applicants</ion-label>
    </ion-segment-button>
    <ion-segment-button value="review">
      <ion-label>To review</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rejected">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
     <ion-segment-button value="accepted">
      <ion-label>Accepted</ion-label>
    </ion-segment-button>
  </ion-segment>

  
  <div *ngIf="selectTabs === 'applicants'">
    <div *ngFor="let jobs of jobs" >
      <ion-item button detail="true" (click)="profiledetails(jobs)" *ngIf="jobs.status == 'Pending'" >
          <ion-avatar slot="start">
            <img alt="Profile piture" *ngIf="jobs.application?.profileimg; else alt" src="{{jobs.application.profileimg}}" />
            <ng-template #alt>
              <img alt="Profile piture" src="assets/header.png" />
            </ng-template>
          </ion-avatar>
            <ion-label class="ion-text-wrap" *ngFor="let title of title">{{jobs.application.fname}} {{jobs.application.mname}} {{jobs.application.lname}} has applied in your "{{title.jtitle}}" Listing</ion-label>
      </ion-item>
    </div>  
  </div>

  <div *ngIf="selectTabs === 'review'">
    <div *ngFor="let jobs of jobs" >
      <ion-item button detail="true" (click)="profiledetails(jobs)" *ngIf="jobs.status == 'Inprocess'" >
          <ion-avatar slot="start">
            <img alt="Profile piture" *ngIf="jobs.application?.profileimg; else alt" src="{{jobs.application.profileimg}}" />
            <ng-template #alt>
              <img alt="Profile piture" src="assets/header.png" />
            </ng-template>
          </ion-avatar>
            <ion-label class="ion-text-wrap" *ngFor="let title of title">{{jobs.application.fname}} {{jobs.application.mname}} {{jobs.application.lname}} has applied in your "{{title.jtitle}}" Listing</ion-label>
      </ion-item>
    </div>  
  </div>

  <div *ngIf="selectTabs === 'accepted'">
    <div *ngFor="let jobs of jobs" >
      <ion-item button detail="true" (click)="profiledetails(jobs)" *ngIf="jobs.status == 'Accepted'" >
          <ion-avatar slot="start">
            <img alt="Profile piture" *ngIf="jobs.application?.profileimg; else alt" src="{{jobs.application.profileimg}}" />
            <ng-template #alt>
              <img alt="Profile piture" src="assets/header.png" />
            </ng-template>
          </ion-avatar>
            <ion-label class="ion-text-wrap" *ngFor="let title of title">{{jobs.application.fname}} {{jobs.application.mname}} {{jobs.application.lname}} has applied in your "{{title.jtitle}}" Listing</ion-label>
      </ion-item>
    </div>  
  </div>

  <div *ngIf="selectTabs === 'rejected'">
    <div *ngFor="let jobs of jobs" >
      <ion-item button detail="true" (click)="profiledetails(jobs)" *ngIf="jobs.status == 'Rejected'" >
          <ion-avatar slot="start">
            <img alt="Profile piture" *ngIf="jobs.application?.profileimg; else alt" src="{{jobs.application.profileimg}}" />
            <ng-template #alt>
              <img alt="Profile piture" src="assets/header.png" />
            </ng-template>
          </ion-avatar>
            <ion-label class="ion-text-wrap" *ngFor="let title of title">{{jobs.application.fname}} {{jobs.application.mname}} {{jobs.application.lname}} has applied in your "{{title.jtitle}}" Listing</ion-label>
      </ion-item>
    </div>  
  </div>

  

</ion-content>
