<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboardcompany']" slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label>Applicants</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item button detail="true" [routerLink]="['/notifications']">
  <ion-avatar slot="start">
    <img alt="Profile piture" src="assets/header.png" />
  </ion-avatar>
  <ion-label>
    <h3>John Wick</h3>
    <ion-label>has applied in your "Web Developer" Listing</ion-label>
  </ion-label>
</ion-item>
<ion-item button detail="true" [routerLink]="['/notifications']">
  <ion-avatar slot="start">
    <img alt="Profile piture" src="assets/header.png" />
  </ion-avatar>
  <ion-label>
    <h3>John Wick</h3>
    <ion-label>has applied in your "Web Developer" Listing</ion-label>
  </ion-label>
</ion-item>
</ion-content>
