<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/applicantprofile']" slot="start">
      <ion-icon class="backicon"  name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="profile" class="ion-padding ">


<div>
  <form [formGroup]="credentials" (ngSubmit)="editprofile()">
    <div class="personalinfo">
    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">Change Profile Picture:</ion-label>
          <ion-input position="stacked" #myInput  type="file" (change)="upload($event)"></ion-input>

        </ion-item>

          <ion-item>
            <ion-label position="stacked">First Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="fname" value="{{profile.fname}}" class="custominput"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(fname.dirty || fname.touched) && fname.errors">Required</ion-note>
      
          <ion-item>
            <ion-label position="stacked">Middle Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="mname" value="{{profile.mname}}" class="custominput"></ion-input>
          </ion-item>
          

          <ion-item>
            <ion-label position="stacked">Last Name:</ion-label>
            <ion-input position="stacked" type="text" formControlName="lname" value="{{profile.lname}}" class="custominput"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(lname.dirty || lname.touched) && lname.errors">Required</ion-note>

          <ion-item>
            <ion-label>Suffix (optional):</ion-label>
              <ion-item lines="none" class="selectitem">
                <ion-select justify="space-between" label="Space Between" formControlName="suffix" value="{{profile.suffix}}" interface="popover" placeholder="Select suffix">
                  <ion-select-option value="Jr">Jr.</ion-select-option>
                  <ion-select-option value="Sr">Sr.</ion-select-option>
                  <ion-select-option value="I">I</ion-select-option>
                  <ion-select-option value="II">II</ion-select-option>
                  <ion-select-option value="III">III</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-item>

          <ion-item>
            <ion-label>Civil Status:</ion-label>
              <ion-item lines="none" class="selectitem">
                <ion-select formControlName="cs" value="{{profile.cs}}" interface="popover" placeholder="Select suffix">
                  <ion-select-option value="Single">Single</ion-select-option>
                  <ion-select-option value="Married">Married</ion-select-option>
                  <ion-select-option value="Separated">Separated</ion-select-option>
                  <ion-select-option value="Widowed">Widowed</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-item>

          <ion-note slot="error" *ngIf="(cs.dirty || cs.touched) && cs.errors">Required</ion-note>

          <ion-item>
            <ion-label position="stacked">Religion:</ion-label>
            <ion-input type="text" value="{{profile.religion}}" formControlName="religion" class="custominput"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(religion.dirty || religion.touched) && religion.errors">Required</ion-note>


          <ion-item >
            <ion-label position="stacked">Birthdate:</ion-label>
            <ion-input formControlName="bday" value="{{profile.bday}}" type="date"></ion-input>
          

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-icon name="calendar-number-outline"></ion-icon>
                  <ion-datetime id="date" presentation="date" [showDefaultButtons]="true" doneText="Confirm" canceltext="Cancel"></ion-datetime>
                </ng-template>
              </ion-modal>

        </ion-item>
        <ion-note slot="error" *ngIf="(bday.dirty || bday.touched) && bday.errors">Required</ion-note>


        <ion-item>
          <ion-label position="stacked">Age:</ion-label>
          <ion-input position="stacked" formControlName="age" value="{{profile.age}}" type="Number"></ion-input>
        </ion-item>
        <ion-note slot="error" *ngIf="(age.dirty || age.touched) && age.errors">Required</ion-note>

        <ion-item>
          <ion-label>Sex:</ion-label> 
          <ion-list>
            <ion-item lines="none"  class="selectitem">
              <ion-select formControlName="sex" value="{{profile.sex}}" interface="popover" placeholder="Select">
                <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option> 
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-note slot="error" *ngIf="(sex.dirty || sex.touched) && sex.errors">Required</ion-note>

        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input position="stacked" value="{{profile.email}}" [readonly]="true" type="Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contact Number:</ion-label>
          <ion-input position="stacked" formControlName="contact" value="{{profile.contact}}" type="Number"></ion-input>
        </ion-item>
        <ion-note slot="error" *ngIf="(contact.dirty || contact.touched) && contact.errors">Required</ion-note>
       
      </ion-card-content>
    </ion-card>
    </div>

    <ion-button expand="block" type="submit" class="btnreg" shape="round" size="large">Save</ion-button>
  </form>
</div>



</ion-content>
