<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboard']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profile" [fullscreen]="true" >
  <div class="container">
    <div class="avatar" >
      <ion-avatar class="image">
          <img alt="N/A" src="{{profile.imageUrl}}" />
      </ion-avatar>
      <div >
      <span  class="caption">{{profile.fname}} {{profile.mname}} {{profile.lname}} {{profile.suffix}}</span>


    </div>
     

    
    </div>

    <div>
      
        
        <!-- Personal Information -->
        <ion-card *ngIf="profile" >
          <ion-card-header>

            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Personal Information</ion-card-title>
              <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/editpersonalinfo']"></ion-icon>
            </div>

          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Name:   </ion-label>
              <ion-input value="{{profile.fname}} {{profile.mname}} {{profile.lname}} {{profile.suffix}}" [readonly]="true"></ion-input>

            </ion-item>
      
            <ion-item lines="none">
              <ion-label>Birthday:</ion-label>
              <ion-input value=" {{profile.bday}}" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Age:  </ion-label>
                <ion-input value="{{profile.age}}" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Sex:  </ion-label>
              <ion-input value="{{profile.sex}}" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Contact Number: </ion-label>
              <ion-input value="{{profile.contact}}" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Email Address: </ion-label>
              <ion-input value=" {{profile.email}}" [readonly]="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Civil Status: </ion-label>
              <ion-input  value="{{profile.cs}}" [readonly]="true"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Religion: </ion-label>
              <ion-input value="{{profile.religion}}" [readonly]="true"></ion-input>
            </ion-item>

          </ion-card-content>
        </ion-card>

        <!--Address -->
        <ion-card *ngIf="address" >
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Home Address</ion-card-title>
              <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/editaddress']"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
              <ion-item lines="none">
                <ion-label>House No/Street: </ion-label>
                <ion-input value="{{address.hstreet}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Barangay:</ion-label>
                <ion-input value="{{address.hbarangay}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Town:</ion-label>
                <ion-input value="{{address.htown}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Province:</ion-label>
                <ion-input value="{{address.hprovince}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Country:</ion-label>
                <ion-input value="{{address.hcountry}}" [readonly]="true"></ion-input>         
              </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="address" >
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Current Address</ion-card-title>
              <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/editaddress']"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
              <ion-item lines="none">
                <ion-label>House No/Street: </ion-label>
                <ion-input value="{{address.street}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Barangay:</ion-label>
                <ion-input value="{{address.barangay}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Town:</ion-label>
                <ion-input value="{{address.town}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Province:</ion-label>
              <ion-input value="{{address.province}}" [readonly]="true"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Country:</ion-label>
              <ion-input value="{{address.country}}" [readonly]="true"></ion-input>
              </ion-item>
          </ion-card-content>
        </ion-card>

        


        <ion-card>
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Upload or Complete your resume here</ion-card-title>
              <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/resumebuilder']"></ion-icon>
            </div>
          </ion-card-header>
        </ion-card>

        <!-- Certification -->
        <ion-card *ngIf="profile">
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
              <ion-card-title>About you</ion-card-title>
              <ion-icon style="float: right;" name="create" class="edit" (click)="about()"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" fill="outline" class="aboutself">
              <ion-label position="stacked">What can you say about yourself:</ion-label>
              <ion-input value="{{profile.aboutme}}" color="primary"></ion-input>
            </ion-item>
            <!-- <ion-item lines="none">
              <ion-label>Attachments</ion-label>
              <ion-button>+</ion-button>
            </ion-item> -->
          </ion-card-content>
        </ion-card>
      </div> 
  </div>
</ion-content>
