ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}

ion-toolbar{
    --background:  #2855A1;
}

.container{
    // border: 2px solid #3AB3C1;
    padding-bottom: 3%;
}

.avatar{
    vertical-align: top;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 40px;
    // padding-bottom: 5%;
    flex-direction: column;
    background:  #2855A1;
}

.image{
    padding-top: 5%;
    height: 20%;
    width: 20%;
}

.caption {
    color: #ffffff;
    margin: 20% 0 20% 0;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

ion-card {
    --background: #E5EBEE;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.25);
    margin: 8%;
    padding: 2%;
}
ion-item {
    --background: #E5EBEE;
}
