ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}

ion-toolbar{
    --background:  #2855A1;
    ion-label{
        color: #FFFFFF;
    }
}
ion-card {
    --background: #eee8ff;
    // box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}


ion-button{
    margin-left: .5rem;
    text-transform: initial;

}