<ion-menu contentId="main-content">
  <ion-header collapse="fade">
    <ion-toolbar class="hamburgermenu">
      <ion-label class="ion-padding hamburgtitle">Menu</ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card class="hamburgcard">
      <ion-button fill="clear" class="card1menu" expand="block">
        <ion-icon slot="start" name="log-out-outline" style="color:#42505d;"></ion-icon>
        Logout</ion-button>
    </ion-card>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="uppertool">
      <ion-buttons fill="solid" slot="start">
        <ion-menu-button class="btn"></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card >
      <ion-card-header>
        <ion-card-title>
          Company Registration
        </ion-card-title>
      </ion-card-header>

    <!-- <ion-card class="innercard">
      <ion-grid>
      
      <ion-row>
        <ion-col>
          Employee Name:
        </ion-col>
        <ion-col>
          Mario
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          Company Name:
        </ion-col>
        <ion-col>
          Nintendo
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Status:
        </ion-col>
        <ion-col>
          Completed
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Date:
        </ion-col>
        <ion-col>
          DD/MM/YYY
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Action:
        </ion-col>
        <ion-col>
          <ion-button [routerLink]="['/companyreview']">View</ion-button>
        </ion-col>
      </ion-row>

      </ion-grid>
    </ion-card>   -->

      <ion-grid >
        <ion-row>
          <ion-col>
            Company Name
          </ion-col>
          <ion-col>
            Status
          </ion-col>
          <ion-col>
            Date
          </ion-col>
          <ion-col>
            Action
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid *ngFor="let company of company">
        <ion-row class="detail">
          <ion-col>
            {{company.cname}}
          </ion-col>
          <ion-col>
            <ion-badge color="danger">
            {{company.status}}
            </ion-badge>
          </ion-col>
          <ion-col >
            {{company.timeStamp}}
          </ion-col>
          <ion-col>
            <ion-button shape="round" [routerLink]="['/companyreview']">View</ion-button>
          </ion-col>
        </ion-row >
      </ion-grid>

      <!-- <ion-grid>
        <ion-row class="detail">
          <ion-col>
            Luigi
          </ion-col>
          <ion-col>
            Nintendo
          </ion-col>
          <ion-col>
            <ion-badge color="danger">
              Incomplete
            </ion-badge>
          </ion-col>
          <ion-col>
            MM/DD/YYYY
          </ion-col>
          <ion-col>
            <ion-button shape="round" [routerLink]="['/companyreview']">View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    -->

  </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-router-outlet></ion-router-outlet>
  
        <ion-tab-bar class="lowertool">
          <ion-tab-button [routerLink]="['/dashboardadmin']">
            <ion-icon name="people"></ion-icon>Users
          </ion-tab-button>

          <!-- <ion-tab-button (click)="posts(profiles)">
            <ion-icon name="archive"></ion-icon>My Post
          </ion-tab-button> -->

          <ion-tab-button [routerLink]="['/listemployees']">
            <ion-icon name="person"></ion-icon>Employers
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/companyregister']" >
            <ion-badge color="danger">1000</ion-badge>
            <ion-icon name="document"></ion-icon>Registry
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/']" >
            <ion-badge color="danger">1000</ion-badge>
            <ion-icon class="tabicon" name="chatbubble"></ion-icon>Messages
          </ion-tab-button>
          
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

</div>  
