<ion-menu contentId="main-content">
  <ion-header collapse="fade">
    <ion-toolbar class="hamburgermenu">
      <ion-label class="ion-padding hamburgtitle">Menu</ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card class="hamburgcard">
      <!-- <ion-button  fill="clear" class="card1menu" expand="block" [routerLink]="['/archived']">
        <ion-icon slot="start" name="archive-outline" style="color:#42505d;"></ion-icon>
        Archive</ion-button> -->
      <ion-button  (click)="logout()" fill="clear" class="card1menu" expand="block">
        <ion-icon slot="start" name="log-out-outline" style="color:#42505d;"></ion-icon>
        Logout</ion-button>
    </ion-card>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="uppertool">
      <ion-buttons fill="solid" slot="start">
        <ion-menu-button class="btn"></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card >
      <ion-card-header>
        <ion-card-title>
          Company Registration
        </ion-card-title>
      </ion-card-header>

      <div class="segment-container">
        <ion-segment value="buttons" [(ngModel)]="selectTabs">
          <ion-segment-button value="pending" class="all">
            <ion-label>Pending</ion-label>
          </ion-segment-button>
          <ion-segment-button value="accepted" class="confirmed">
            <ion-label>Accepted</ion-label>
          </ion-segment-button>
          <ion-segment-button value="declined" class="completed">
            <ion-label>Declined</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div *ngIf="selectTabs === 'pending'" >

        <ion-grid >
          <ion-row>
            <ion-col>
              Company Name
            </ion-col>
            <ion-col>
              Status
            </ion-col>
            <ion-col>
              Date
            </ion-col>
            <ion-col>
              Action
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngFor="let company of company">
          <ion-grid *ngIf="company.status == 'Pending'" >
            <ion-row class="detail">
              <ion-col>
                {{company.cname}}
              </ion-col>
              <ion-col>
                <ion-badge color="danger">
                {{company.status}}
                </ion-badge>
              </ion-col>
              <ion-col >
                {{company.timeStamp}}
              </ion-col>
              <ion-col>
                <ion-button shape="round" (click)="view(company)">View</ion-button>
              </ion-col>
            </ion-row >
          </ion-grid>
        </div>
        


      </div>

      <div *ngIf="selectTabs === 'accepted'" >

        <ion-grid >
          <ion-row>
            <ion-col>
              Company Name
            </ion-col>
            <ion-col>
              Status
            </ion-col>
            <ion-col>
              Date
            </ion-col>
            <ion-col>
              Action
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <div *ngFor="let company of company">
          <ion-grid *ngIf="company.status == 'Accepted'" >
            <ion-row class="detail">
              <ion-col>
                {{company.cname}}
              </ion-col>
              <ion-col>
                <ion-badge color="danger">
                {{company.status}}
                </ion-badge>
              </ion-col>
              <ion-col >
                {{company.timeStamp}}
              </ion-col>
              <ion-col>
                <ion-button shape="round" (click)="view(company)">View</ion-button>
              </ion-col>
            </ion-row >
          </ion-grid>
        </div>
        


      </div>

      <div *ngIf="selectTabs === 'declined'" >

        <ion-grid >
          <ion-row>
            <ion-col>
              Company Name
            </ion-col>
            <ion-col>
              Status
            </ion-col>
            <ion-col>
              Date
            </ion-col>
            <ion-col>
              Action
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngFor="let company of company">

          <ion-grid *ngIf="company.status == 'Declined'">
            <ion-row class="detail">
              <ion-col>
                {{company.cname}}
              </ion-col>
              <ion-col>
                <ion-badge color="danger">
                {{company.status}}
                </ion-badge>
              </ion-col>
              <ion-col >
                {{company.timeStamp}}
              </ion-col>
              <ion-col>
                <ion-button shape="round" (click)="view(company)">View</ion-button>
              </ion-col>
            </ion-row >
          </ion-grid>
  
          
        </div>
       

      </div>






  </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-router-outlet></ion-router-outlet>
  
        <ion-tab-bar class="lowertool">
          <ion-tab-button [routerLink]="['/dashboardadmin']">
            <ion-icon name="people"></ion-icon>Users
          </ion-tab-button>

          <!-- <ion-tab-button (click)="posts(profiles)">
            <ion-icon name="archive"></ion-icon>My Post
          </ion-tab-button> -->

          <ion-tab-button [routerLink]="['/listemployees']">
            <ion-icon name="person"></ion-icon>Employers
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/companyregister']" >
            <!-- <ion-badge color="danger">{{this.company.length}}</ion-badge> -->
            <ion-icon name="document"></ion-icon>Registry
          </ion-tab-button>

          <!-- <ion-tab-button [disabled]="true" [routerLink]="['/']" >
            <ion-badge color="danger">0</ion-badge>
            <ion-icon class="tabicon" name="chatbubble"></ion-icon>Messages
          </ion-tab-button> -->
          
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

</div>  
