<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['/']" slot="start">
    <ion-icon style="width: 50px; color: white;" name="arrow-back-outline" [routerLink]="['/']">  </ion-icon>
    </ion-buttons> 
   Apply to Job
</ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="credentials" (ngSubmit)="addApplication()">
    <ion-card *ngIf="profiledetails" class="cardcontainer">
      <ion-card-header>
        <div style="display: flex; justify-content: space-between;">
          <ion-card-title>Personal Information</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content>
          <ion-label position="stacked" class="cardsubtitle">Name: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.fname}} {{profiledetails.mname}} {{profiledetails.lname}} "></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Date of Birth: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.bday}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Age: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.age}}"></ion-input>
          
          <ion-label position="stacked" class="cardsubtitle">Sex:  </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.sex}}"></ion-input>
          
          <ion-label position="stacked" class="cardsubtitle">Contact Number: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.contact}}"></ion-input>
         
          <ion-label position="stacked" class="cardsubtitle">Email Address: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.email}}"></ion-input>

          <ion-label position="stacked" class="cardsubtitle">Civil Status: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.cs}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Religion: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.religion}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Citizenship: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.citizenship}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Educational Attainment: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{profiledetails.ea}}"></ion-input>
          
          <ion-label position="stacked" class="cardsubtitle">Home Address: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{addressdetails.homeaddress}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Present Address: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{addressdetails.currentaddress}}"></ion-input>
          
      </ion-card-content>
    </ion-card>
  
    <ion-card *ngIf="resumedetails">
      <ion-card-header>
        <div>
          <ion-card-title>Character Reference</ion-card-title>
          <!-- <ion-icon style="float: right;" name="create" class="edit"></ion-icon> -->
        </div>
      </ion-card-header>
      <ion-card-content>
          <ion-label position="stacked" class="cardsubtitle">Name: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{resumedetails.mo}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Contact No: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{resumedetails.moc}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Relationship with person: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{resumedetails.fa}}"></ion-input>
        
          <ion-label position="stacked" class="cardsubtitle">Email: </ion-label>
          <ion-input position="stacked" [readonly]="true" class="custominput" value="{{resumedetails.fac}}"></ion-input>
      </ion-card-content>
    </ion-card>
  
    <!-- Educational Background -->
          <ion-card >
            <ion-card-header>
              <div>
                <ion-card-title>Educational Background</ion-card-title>
                <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]=""></ion-icon> -->
              </div>
            </ion-card-header>
            <ion-card-content *ngFor="let s of schooldetails" class="ion-padding" >
  
              <div> 
                  <ion-label position="stacked" class="cardsubtitle">School Name: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{s.schoolname}}"></ion-input>
                
                  <ion-label position="stacked" class="cardsubtitle">Course: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{s.course}}"></ion-input>
                
                  <ion-label position="stacked" class="cardsubtitle">Level: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{s.level}}"></ion-input>
                
                  <ion-label position="stacked" class="cardsubtitle">Year Graduated: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{s.yearg}}"></ion-input>
              </div>
              
            </ion-card-content>
          </ion-card>
  
    
  
  
    <!-- Work Experience -->
          <ion-card>
            <ion-card-header>
              <div>
                <ion-card-title>Work Experience</ion-card-title>
                <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]=""></ion-icon> -->
              </div >
            </ion-card-header>
            <ion-card-content *ngFor="let e of experiencedetails">
              <div style="margin-top: 5%;">
                  <ion-label position="stacked" class="cardsubtitle">Company Name: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{e.cname}}"></ion-input>
                
                  <ion-label position="stacked" class="cardsubtitle">Company Address: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{e.caddress}}"></ion-input>
                
                  <ion-label position="stacked" class="cardsubtitle">Job Title: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{e.jtitle}}"></ion-input>
                  
                  <ion-label position="stacked" class="cardsubtitle">Job Position: </ion-label>
                  <ion-input position="stacked" class="custominput" value=" {{e.jposition}}" [readonly]="true"></ion-input>

                  <ion-label position="stacked" class="cardsubtitle">Year of Experience </ion-label>
                  <ion-input position="stacked" class="custominput" value=" {{e.yoe}}" [readonly]="true"></ion-input>

                  <!-- <ion-label position="stacked" class="cardsubtitle">From: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{e.datef}}"></ion-input>
                
                  <ion-label position="stacked" class="cardsubtitle">To: </ion-label>
                  <ion-input position="stacked" [readonly]="true" class="custominput" value="{{e.datet}}"></ion-input> -->
              </div>
                
            </ion-card-content>
          </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Credentials</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngFor="let c of certificationsdetails">
        <div style="margin-top: 5%;">
            <ion-label position="stacked" class="cardsubtitle">Certification Name: </ion-label>
            <ion-input position="stacked" [readonly]="true" class="custominput" value="{{c.name}}"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Organization: </ion-label>
            <ion-input position="stacked" [readonly]="true" class="custominput"  value="{{c.orgn}}"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Date Obtained: </ion-label>
            <ion-input position="stacked" [readonly]="true" class="custominput"  value="{{c.year}}"></ion-input>
          
          <ion-label position="stacked" class="cardsubtitle">Attachments</ion-label>
          <!-- <a href="{{c.fpath}}" formControlName="fpath" ><ion-button color="success" >Download</ion-button>
          </a> -->
          <ion-input position="stacked" [readonly]="true" class="custominput"  value="Supplied"></ion-input>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resume</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="resumedetails" >
          <ion-label position="stacked" class="cardsubtitle"> Resume Attachments</ion-label>
          <!-- <a href="{{resume.fpath}}"formControlName="fpathr" ><ion-button color="success" >Download</ion-button>
          </a> -->
          <ion-input position="stacked" [readonly]="true" class="custominput" value="Supplied"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="reas">
      <ion-card-header>
        <ion-card-title>Why do you want the job?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
            <!-- <ion-label position="stacked" class="cardsubtitle">Enter input here: </ion-label> -->
            <!-- <ion-input  formControlName="reason" position="stacked" class="custominput"  fill="outline" placeholder="I want to apply to this job because..."></ion-input> -->
            <ion-textarea autosize formControlName="reason"  position="stacked" class="custominput" fill="outline" placeholder="I want to apply to this job because..."></ion-textarea>

      </ion-card-content>
    </ion-card>
    <ion-button size="large" [disabled]="!credentials.valid" shape="round" expand="block" (click)="addApplication()">Submit Application</ion-button>
  </form>
  </ion-content>


 
      