<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="" slot="start">
    <ion-icon style="width: 50px; color: white;" name="arrow-back-outline" [routerLink]="['/dashboard']">  </ion-icon>
    </ion-buttons> 
   Apply to Job
</ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="credentials" (ngSubmit)="addApplication()">
    <ion-card *ngIf="profiledetails">
      <ion-card-header>
        <ion-card-title>Personal Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>Name: </ion-label>
          <ion-label>{{profiledetails.fname}} {{profiledetails.mname}} {{profiledetails.lname}} </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Date of Birth: </ion-label>
          <ion-label>{{profiledetails.bday}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Age: </ion-label>
          <ion-label>{{profiledetails.age}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Home Address: </ion-label>
          <ion-input value="{{addressdetails.homeaddress}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Current Address: </ion-label>
          <ion-label>{{addressdetails.currentaddress}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Civil Status: </ion-label>
          <ion-label>{{profiledetails.cs}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Religion: </ion-label>
          <ion-label>{{profiledetails.religion}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Citizenship: </ion-label>
          <ion-label>{{profiledetails.citizenship}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Specialization: </ion-label>
          <ion-label>{{profiledetails.specialization}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card *ngIf="resumedetails">
      <ion-card-header>
        <div>
          <ion-card-title>Character Reference</ion-card-title>
          <!-- <ion-icon style="float: right;" name="create" class="edit"></ion-icon> -->
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>Name of Mother: </ion-label>
          <ion-label>{{resumedetails.mo}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Contact No: </ion-label>
          <ion-label>{{resumedetails.moc}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Name of Father: </ion-label>
          <ion-label>{{resumedetails.fa}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Contact No: </ion-label>
          <ion-label>{{resumedetails.fac}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <!-- Educational Background -->
          <ion-card >
            <ion-card-header>
              <div>
                <ion-card-title>Educational Background</ion-card-title>
                <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]=""></ion-icon> -->
              </div>
            </ion-card-header>
            <ion-card-content *ngFor="let s of schooldetails" class="ion-padding" >
  
              <div> 
                <ion-item lines="none">
                  <ion-label>School Name: </ion-label>
                  <ion-label>{{s.schoolname}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>Course: </ion-label>
                  <ion-label>{{s.course}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>Level: </ion-label>
                  <ion-label>{{s.level}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>Year Graduated: </ion-label>
                  <ion-label>{{s.yearg}}</ion-label>
                </ion-item>
              </div>
              
            </ion-card-content>
          </ion-card>
  
    
  
  
    <!-- Work Experience -->
          <ion-card>
            <ion-card-header>
              <div>
                <ion-card-title>Work Experience</ion-card-title>
                <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]=""></ion-icon> -->
              </div >
            </ion-card-header>
            <ion-card-content *ngFor="let e of experiencedetails">
              <div>
                <ion-item lines="none">
                  <ion-label>Company Name: </ion-label>
                  <ion-label>{{e.cname}}</ion-label>
                </ion-item>
          
                <ion-item lines="none">
                  <ion-label>Company Address: </ion-label>
                  <ion-label>{{e.caddress}}</ion-label>
                </ion-item>
  
                <ion-item lines="none">
                  <ion-label>Job Title: </ion-label>
                  <ion-label>{{e.jtitle}}</ion-label>
                </ion-item>
  
                <ion-item lines="none">
                  <ion-label>From: </ion-label>
                  <ion-label>{{e.datef}}</ion-label>
                </ion-item>
  
                <ion-item lines="none">
                  <ion-label>To: </ion-label>
                  <ion-label>{{e.datet}}</ion-label>
                </ion-item>
              </div>
                
            </ion-card-content>
          </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Credentials</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngFor="let c of certificationsdetails">
        <ion-item lines="none">
          <ion-item lines="none">
            <ion-label position="stacked">Certification Name: </ion-label>
            <ion-label position="stacked">{{c.name}}</ion-label>
          </ion-item>
        </ion-item>
        <ion-item lines="none">
          <ion-item lines="none">
            <ion-label position="stacked">Organization: </ion-label>
            <ion-label position="stacked">{{c.orgn}}</ion-label>
          </ion-item>
        </ion-item>
        <ion-item lines="none">
          <ion-item lines="none">
            <ion-label position="stacked">Date Obtained: </ion-label>
            <ion-label position="stacked">{{c.year}}</ion-label>
          </ion-item>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Attachments</ion-label>
          <!-- <a href="{{c.fpath}}" formControlName="fpath" ><ion-button color="success" >Download</ion-button>
          </a> -->
          <ion-label position="stacked">{{c.fpath}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Credentials</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="resumedetails" >
        <ion-item lines="none">
          <ion-label> Resume Attachments</ion-label>
          <!-- <a href="{{resume.fpath}}"formControlName="fpathr" ><ion-button color="success" >Download</ion-button>
          </a> -->
          <ion-label>{{resumedetails.fpath}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="reas">
      <ion-card-header>
        <ion-card-title>Reason for Applying Job</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
            <ion-label position="stacked" class="cardsubtitle">Enter input here: </ion-label>
            <ion-input  formControlName="reason" position="stacked" class="custominput"  fill="outline" placeholder="I want to apply to this job because..."></ion-input>
          
      </ion-card-content>
    </ion-card>
    <ion-button size="large" shape="round" expand="block" (click)="addApplication()">Submit Application</ion-button>
  </form>
  </ion-content>


 
      