<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="" slot="start">
    <ion-icon style="width: 50px; color: white;" name="arrow-back-outline" [routerLink]="['/dashboard']">  </ion-icon>
    </ion-buttons> 
   Apply to Job
</ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="credentials" (ngSubmit)="addapplication()">
      <ion-card *ngIf="profile">
        <ion-card-header>
          <ion-card-title>Personal Information</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label position="stacked" class="cardsubtitle">Name: </ion-label>
            <ion-input position="stacked" class="custominput" value="{{profile.fname}} {{profile.mname}} {{profile.lname}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Date of Birth: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{profile.bday}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Age: </ion-label>
            <ion-input position="stacked" class="custominput"   value="{{profile.age}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Home Address: </ion-label>
            <ion-input position="stacked" class="custominput"   value="{{address.homeaddress}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Current Address: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{address.currentaddress}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Civil Status: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{profile.cs}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Religion: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{profile.religion}}" [readonly]="true"></ion-input>

            <ion-label position="stacked" class="cardsubtitle">Contact: </ion-label>
            <ion-input position="stacked" class="custominput" value=" {{profile.contact}}" [readonly]="true"></ion-input>
    
            <ion-label position="stacked" class="cardsubtitle">Citizenship: </ion-label>
            <ion-input position="stacked" class="custominput" value=" {{profile.citizenship}}" [readonly]="true"></ion-input>
            
            <ion-label position="stacked" class="cardsubtitle">Specialization: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{profile.specialization}}" [readonly]="true"></ion-input>
        </ion-card-content>
      </ion-card>
    
      <ion-card *ngIf="resume">
        <ion-card-header>
          <div>
            <ion-card-title>Character Reference</ion-card-title>
            <!-- <ion-icon style="float: right;" name="create" class="edit"></ion-icon> -->
          </div>
        </ion-card-header>
        <ion-card-content>
            <ion-label position="stacked" class="cardsubtitle">Name of Mother: </ion-label>
            <ion-input position="stacked" class="custominput"   value="{{resume.mo}}" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Contact No: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{resume.moc}}" placeholder="09xx-xxx-xxxx" [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Name of Father: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{resume.fa}}"  [readonly]="true"></ion-input>
          
            <ion-label position="stacked" class="cardsubtitle">Contact No: </ion-label>
            <ion-input position="stacked" class="custominput"  value="{{resume.fac}}" [readonly]="true"></ion-input>
        </ion-card-content>
      </ion-card>
    
      <!-- Educational Background -->
            <ion-card >
              <ion-card-header>
                <div>
                  <ion-card-title>Educational Background</ion-card-title>
                  <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]=""></ion-icon> -->
                </div>
              </ion-card-header>
              <ion-card-content *ngFor="let s of school" class="ion-padding" >
    
                <div> 
                    <ion-label position="stacked" class="cardsubtitle">School Name: </ion-label>
                    <ion-input position="stacked" class="custominput"  value="{{s.schoolname}}" [readonly]="true"></ion-input>
                  
                    <ion-label position="stacked" class="cardsubtitle">Course: </ion-label>
                    <ion-input position="stacked" class="custominput"   value="{{s.course}}" [readonly]="true"></ion-input>
                  
                    <ion-label position="stacked" class="cardsubtitle">Level: </ion-label>
                    <ion-input position="stacked" class="custominput"  value="{{s.level}}" [readonly]="true"></ion-input>
                  
                    <ion-label position="stacked" class="cardsubtitle">Year Graduated: </ion-label>
                    <ion-input position="stacked" class="custominput" value="{{s.yearg}}" [readonly]="true"></ion-input>
                </div>
                
              </ion-card-content>
            </ion-card>
    
      
    
    
      <!-- Work Experience -->
            <ion-card>
              <ion-card-header>
                <div>
                  <ion-card-title>Work Experience</ion-card-title>
                  <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]=""></ion-icon> -->
                </div >
              </ion-card-header>
              <ion-card-content *ngFor="let e of experience">
                <div>
                  
                    <ion-label position="stacked" class="cardsubtitle">Company Name: </ion-label>
                    <ion-input position="stacked" class="custominput"  value="{{e.cname}}" [readonly]="true"></ion-input>
                  
                    <ion-label position="stacked" class="cardsubtitle">Company Address: </ion-label>
                    <ion-input position="stacked" class="custominput"  value="{{e.caddress}}" [readonly]="true"></ion-input>
                  
                    <ion-label position="stacked" class="cardsubtitle">Job Title: </ion-label>
                    <ion-input position="stacked" class="custominput"  value="{{e.jtitle}}" [readonly]="true"></ion-input>
                  
                    <ion-label position="stacked" class="cardsubtitle">From: </ion-label>
                    <ion-input position="stacked" class="custominput"  value="{{e.datef}}" [readonly]="true"></ion-input>
                  
                    <ion-label position="stacked" class="cardsubtitle">To: </ion-label>
                    <ion-input position="stacked" class="custominput"  value="{{e.datet}}" [readonly]="true"></ion-input>
                </div>
                  
              </ion-card-content>
            </ion-card>

    
      <ion-card>
        <ion-card-header>
          <ion-card-title>Credentials</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let c of certifications">
          
              <ion-label position="stacked" class="cardsubtitle">Certification Name: </ion-label>
              <ion-input position="stacked" class="custominput"  value="{{c.name}}" [readonly]="true" fill="outline" placeholder="HacktheNorth Certification"></ion-input>
            
          
              <ion-label position="stacked" class="cardsubtitle">Organization: </ion-label>
              <ion-input position="stacked" class="custominput"  value="{{c.orgn}}" [readonly]="true" fill="outline" placeholder="HacktheNorth, Inc"></ion-input>
            
              <ion-label position="stacked" class="cardsubtitle">Date Obtained: </ion-label>
              <ion-input position="stacked" class="custominput"  value="{{c.year}}" [readonly]="true" fill="outline" placeholder="mm/dd/yyyy"></ion-input>
            
            <ion-label position="stacked" class="cardsubtitle">Attachments</ion-label>
            <!-- <a href="{{c.fpath}}" formControlName="fpath" ><ion-button color="success" >Download</ion-button>
            </a> -->
            <!-- <ion-input position="stacked" class="custominput"  value="{{c.fpath}}" [readonly]="true" fill="outline" placeholder="HacktheNorth Certification"></ion-input> -->
            <!-- <a href="{{c.fpath}}">
              <ion-button color="success" shape="round" expand="block">Download</ion-button>
            </a> -->
          </ion-card-content>
      </ion-card>
    
      <!-- <ion-card>
        <ion-card-header>
          <ion-card-title>Credentials</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="resume" >
            <ion-label position="stacked" class="cardsubtitle"> Resume Attachments</ion-label> -->
            <!-- <a href="{{resume.fpath}}"formControlName="fpathr" ><ion-button color="success" >Download</ion-button>
            </a> -->
            <!-- <ion-input position="stacked" class="custominput"  value="{{resume.fpath}}" [readonly]="true" fill="outline" placeholder="HacktheNorth Certification"></ion-input> -->
            <!-- <a  href="{{resume.fpath}}"> <ion-button *ngIf="resume?.fpath" color=success shape="round" expand="block">Download</ion-button></a>
          </ion-card-content>
      </ion-card> -->


      <ion-card>
        <ion-card-header>
          <ion-card-title>Reason for Applying Job</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
              <ion-label position="stacked" class="cardsubtitle">Enter input here: </ion-label>
              <ion-input position="stacked" class="custominput"  fill="outline" placeholder="I want to apply to this job because..."></ion-input>
            
        </ion-card-content>
      </ion-card>

      
      <ion-button size="large" shape="round" expand="block" type="submit">Submit Application</ion-button>

          
    
      
    </form>
  </div>
  
</ion-content>
