<ion-menu contentId="main-content">
  <ion-header collapse="fade">
    <ion-toolbar class="hamburgermenu">
      <ion-label class="ion-padding hamburgtitle">Menu</ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    

    <ion-card class="hamburgcard">
   
      <ion-button fill="clear" class="card1menu" expand="block" [routerLink]="">
        <ion-icon slot="start" name="information-circle-outline" style="color: #42505d;"></ion-icon>
        About Us</ion-button>
      <ion-button fill="clear" class="card1menu" expand="block" [routerLink]="['/privacypolicy']">
        <ion-icon slot="start" name="shield-half-outline" style="color: #42505d;"></ion-icon>
        Privacy Policy
      </ion-button>
      <ion-button fill="clear" class="card1menu" expand="block" [routerLink]="['/resumebuilder']">
        <ion-icon slot="start" name="newspaper" style="color: #42505d;"></ion-icon>
         Resume Builder</ion-button>
      <ion-button [disabled]="true" fill="clear" class="card1menu" expand="block" [routerLink]="['/subscriptions']">
        <ion-icon slot="start"  name="diamond-outline" style="color: #42505d;"></ion-icon>
        Get Premium</ion-button>
    </ion-card>
    <ion-card class="hamburgcard">
      <ion-button fill="clear" class="card1menu" expand="block">
        <ion-icon slot="start" name="settings" style="color: #42505d;"></ion-icon>
        Settings</ion-button>
    </ion-card>
    <ion-card class="hamburgcard">
      <ion-button fill="clear" class="card1menu" expand="block" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline" style="color:#42505d;"></ion-icon>
        Logout</ion-button>
    </ion-card>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="uppertool">
      <ion-buttons fill="solid" slot="start">
        <ion-menu-button class="btn"></ion-menu-button>
      </ion-buttons>
      
      <ion-buttons fill="solid" slot="end">
        <ion-button type="" [routerLink]="['/searchengine']">
          <ion-icon class="btn" name="search" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/applicantprofile']" type="">
          <ion-icon class="btn" name="person-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding ">
      <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" >
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher> -->
      

      <div class="alert" [hidden]="!button" style="color: black;text-align: center;">
        <ion-label [hidden]="!button"  class="alert">Complete your resume before applying!</ion-label>
      </div>
      


      <ion-card *ngFor="let job of job" class="joblisting">
        <ion-card-header>
          <ion-card-title>
            {{job.jtitle}}
          </ion-card-title>
          <ion-button class="viewmore" fill="clear" [routerLink]="['/aboutcompany']">View more
            <ion-icon  name="information-circle" class="edit" ></ion-icon>
          </ion-button>
          <!-- <ion-card-subtitle>
            {{job.cname}}
             Company Name, Company Address  Not Working. NO NEED FOR COMPANY DETAILS HERE
          </ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row class="jobposition">
              <ion-badge class="positionbadges" *ngFor="let job of job.jposition" color="tertiary">{{job}}</ion-badge>
  
            </ion-row>
            <ion-row class="companydetails">
              <ion-col class="labelheader">Starting Salary:</ion-col>
              <ion-col *ngIf="job?.jsalary; else placeholder_avatar;">{{job.jsalary}} peso/s</ion-col>
  
              <ng-template #placeholder_avatar>
                <ion-col>Company did not specified</ion-col>
              </ng-template>
              
            </ion-row>
            <div class="jobdetails">
  
              <!-- <ion-row class="jobposition">
                <ion-col class="labelheader">Job Position:</ion-col>
                <ion-col placeholder="">Senior Developer</ion-col>
              </ion-row> -->
              
              <ion-row class="jobtype">
                <ion-col class="labelheader">Job type:</ion-col>
                <ion-col>{{job.jtype}}</ion-col>
              </ion-row>
              <ion-row class="minimum">
                <ion-col class="labelheader">Minimum experience required:</ion-col>
                <ion-col *ngIf="job?.jexperience; else placeholder_avatar1;">{{job.jexperience}} year/s</ion-col>
  
              <ng-template #placeholder_avatar1>
                <ion-col>No experience required</ion-col> 
              </ng-template>
              </ion-row>
              <ion-row class="education">
                <ion-col class="labelheader">Educational Attainment:</ion-col>
                <ion-col *ngIf="job?.attainment; else placeholder_avatar3;" placeholder="">{{job.attainment}}</ion-col>
                <ng-template #placeholder_avatar3>
                  <ion-col>No minimum education required</ion-col> 
                </ng-template>
              </ion-row>
              <ion-row class="jobdescription">
                <ion-col class="labelheader">Job description:</ion-col>
                <ion-col>{{job.jdescription}}</ion-col>
              </ion-row>
            </div>
          </ion-grid>
          <ion-label class="timeposted">Date Posted: {{job.timestamp}}</ion-label>
        </ion-card-content>
          
          <ion-button size="large" [disabled]="button" class="jobcardinfo" (click)="apply(job)" >Apply Now</ion-button>

      </ion-card>




  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-router-outlet></ion-router-outlet>
  
        <ion-tab-bar class="lowertool">
          <ion-tab-button [routerLink]="['/hometab']">
            <ion-icon class="tabicon" name="home"></ion-icon>Home
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/dashboard']">
            <ion-icon class="tabicon" name="compass"></ion-icon>Discover
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/messagespage']" >
            <ion-badge color="danger">1000</ion-badge>
            <ion-icon class="tabicon" name="chatbubble"></ion-icon>Messages
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/notificationuser']">
            <ion-badge color="danger">1000</ion-badge>
            <ion-icon class="tabicon" name="notifications"></ion-icon>Notification
          </ion-tab-button>
          
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

</div>  
