ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}
ion-menu::part(backdrop) {
    background-color: rgba(18, 102, 237, 0.5);
  }
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(1, 31, 105, 0.18);
  }
  .hamburgtitle{
    font-size: larger;
  }
.hamburger{
    --background:#E5EBEE;
}
.hamburgcard{
    border-radius: 15px;
    box-shadow: 4px 5px 16px;
    margin-bottom: 3%;
}
.card1menu{
    --background: #FFFFFF;
    color: #000000;
}
.uppertool{
    --background:#2855A1;
}

.lowertool{
    --background:#ffffff;
}

ion-content{
    --background:#ffffff;
} 

.btn{
    font-size: 40px;
    color: #ffffff;  
}
ion-tabs{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    contain: layout size style;
    flex-direction: column;
    align-items: stretch;
}

ion-tab-bar{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
}

ion-tab-button{
    color: #000000;
}

ion-card.joblisting {
    --background: #eee8ff;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1rem;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card-header{
    --background: #5e2ee4;
    color: whitesmoke;
}
ion-card-title{
    color: whitesmoke;
}
ion-card-subtitle{
    color: whitesmoke;
}
ion-card-content{
    color: black;
}
ion-label{
    margin-top: 0.3rem;
    font-size: medium;
    color: #000000;
    font-weight: 300;
}
ion-label.cardsubtitle{
    font-size: 1.5em;
    font-weight: 500;
}
ion-label.jobinfo{
    padding-left: 0.8rem;
    font-size: 1em;
    font-weight: 500;
}
.companydetails{
    display: flex;
    flex-direction: column;
}
.jobspecialization{
    display: flex;
    flex-direction: column;
}
.timeposted{
    margin-bottom: 1rem;
}
.jobcardinfo{
    display: block;
    width: 80%;
    --border-radius: 50px;
    --background: #2F7EF5;
    text-transform: initial;
    -ms-transform: translate(50%, 50%);
    transform: translate(10%, 0%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}