//HEADER  STUFF
ion-toolbar{
    --background: #2855A1;
    height: 100%;
   
    ion-title{
        color: white;
        // font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
}

ion-card {
    --background: #70AFFA;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    // border: solid 3px  rgb(53, 66, 125);
}
ion-card-content{
    color: black;
    margin: auto;
}

ion-label{
    padding-left: 3%;
    font-size: 8px;
}
ion-list{
    --background: #E5EBEE;
}
ion-item{
    border: solid 1px #044DA3;
    margin-bottom: 3%; 
    border-radius: 15px;
}

ion-input.custominput{
//   --background: #fff;
  --color: black;
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;

}


.btnreg{
    --background-color: #2855A1;
    --color: white;
    margin-top: 5%;
    text-transform: initial;
    
}

.add{
    color: #044DA3;
}
  


 