<ion-content class="auth-form">

  <ion-grid >
    <ion-row>
    <ion-img src="assets/header2.png"></ion-img>

      <ion-col>
        <ion-button [routerLink]="['/searchengine']" expand="block"  size="large" color="primary">Look for Job</ion-button>
        <span class="divider line one-line">or</span>
        <ion-button [routerLink]="['/authentication']" expand="block"  size="large" color="success">Login Here!</ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  

</ion-content>
