<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/dashboardcompany']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline"> </ion-icon>
      </ion-buttons> 
      About Us
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-card>
      <ion-card-header class="maincard">
        <div class="maincardpfp">
          <ion-avatar class="logo" slot="start">
            <img alt="Profile piture" src="assets/workmaplogo.png" />
          </ion-avatar>
          <ion-card-title>WorkMap</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>
            WorkMap is an innovative mobile application that aims to transform and modernize the job search process for job seekers and employers. 
            Our platform, which is easy to navigate, serves as a powerful resource, linking talented individuals with prospective employers and 
            closing the gap between those seeking employment and companies in need of exceptional talent.
          </p>

          <p>
            Embrace the possibilities for personal career advancement and company growth by becoming part of our WorkMap community today.
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="team">
        <ion-card-title>WorkMap Team</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>
            WorkMap was developed by Computer Science students of Cagayan State University–Carig Campus as a part of their Thesis project.
          </p>
        </ion-text>
          <ion-list>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img class="logo" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label class="cardsubtitle">Jay-Jay Ucol</ion-label>
            </ion-item>  
  
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label class="cardsubtitle">Daniel Louis Almazan</ion-label>
            </ion-item>  
  
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label class="cardsubtitle">Nicole Carlet</ion-label>
            </ion-item>  
  
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label class="cardsubtitle">Kristina Maguddayao</ion-label>
            </ion-item> 
  
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label class="cardsubtitle">Cleamar Joy Pacion</ion-label>
            </ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="team">
        <ion-card-title>Contact Us</ion-card-title>
      </ion-card-header>
      <ion-card-content class="contact">
        <ion-list>
          <ion-item lines="none">
              <!-- <img alt="Workmap Logo" src="assets/Logo2.png" /> -->
              <ion-icon name="at-outline" slot="start"></ion-icon>
            <ion-label class="cardsubtitle">workmapofficial@gmail.com</ion-label>
          </ion-item>  

          <ion-item lines="none">
            <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label class="cardsubtitle">+639876512213</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="CSU Logo" src="assets/csulogo.png" />
            </ion-thumbnail>
            <ion-label class="cardsubtitle" style="margin-left:1rem;">info.cics@csucarig.edu.ph</ion-label> 
          </ion-item>  
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

