<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="['/myapplications']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline"> </ion-icon>
      </ion-buttons> 
      <ion-label>
        Job Listing Applications
      </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="joblisting" >
    <ion-card-header>
      <ion-grid>
        <ion-row class="jobtitle">
          <ion-card-title>
            {{job.jtitle}}
          </ion-card-title>
          <ion-button class="viewmore" fill="clear" (click)="view(job)">
            <ion-icon  name="information-circle" class="edit" ></ion-icon>
          </ion-button>
        </ion-row>
       
      </ion-grid>

      
      <!-- <ion-card-subtitle>
        {{job.cname}}
         Company Name, Company Address  Not Working. NO NEED FOR COMPANY DETAILS HERE
      </ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="jobposition">
          <ion-badge class="positionbadges" *ngFor="let job of job.jposition" color="tertiary">{{job}}</ion-badge>

        </ion-row>
        <ion-row class="companydetails">
          <ion-col class="labelheader">Starting Salary:</ion-col>
          <ion-col *ngIf="job?.jsalary; else placeholder_avatar;">{{job.jsalary}} peso/s</ion-col>

          <ng-template #placeholder_avatar>
            <ion-col>Company did not specified</ion-col>
          </ng-template>
          
        </ion-row>
        <div class="jobdetails">

          <!-- <ion-row class="jobposition">
            <ion-col class="labelheader">Job Position:</ion-col>
            <ion-col placeholder="">Senior Developer</ion-col>
          </ion-row> -->
          
          <ion-row class="jobtype">
            <ion-col class="labelheader">Job type:</ion-col>
            <ion-col>{{job.jtype}}</ion-col>
          </ion-row>
          <ion-row class="minimum">
            <ion-col class="labelheader">Minimum experience required:</ion-col>
            <ion-col *ngIf="job?.jexperience; else placeholder_avatar1;">{{job.jexperience}} year/s</ion-col>

          <ng-template #placeholder_avatar1>
            <ion-col>No experience required</ion-col> 
          </ng-template>
          </ion-row>
          <ion-row class="education">
            <ion-col class="labelheader">Educational Attainment:</ion-col>
            <ion-col *ngIf="job?.attainment; else placeholder_avatar3;" placeholder="">{{job.attainment}}</ion-col>
            <ng-template #placeholder_avatar3>
              <ion-col>No minimum education required</ion-col> 
            </ng-template>
          </ion-row>
          <ion-row class="jobdescription">
            <ion-col class="labelheader">Job description:</ion-col>
            <ion-col>{{job.jdescription}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Vacant slots:
            </ion-col>
            <ion-col>
              {{job.slots}}
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      <ion-label class="timeposted">Date Posted: {{job.timestamp}}</ion-label>

      <ion-button size="large" *ngIf="data.status == 'Rejected'" (click)="reapply(job)" class="jobcardinfo"  >Reapply this Job</ion-button>

    </ion-card-content>
      

  </ion-card>
</ion-content>
