<ion-header>
  <ion-toolbar> 
      <ion-buttons [routerLink]="['/companyregister']" slot="start">
      <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-title>Company Details</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true" class="ion-padding"> 
  <div class="container">
    <div class="avatar" >
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>

    <ion-card class="cardcontainer">
      <ion-card-content>
        <ion-label position="stacked" class="cardsubtitle">Company Name:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="Nintendo"></ion-input>
      
        <ion-label position="stacked" class="cardsubtitle">Company Address:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="Tokyo, Japan"></ion-input>
      
        <ion-label position="stacked" class="cardsubtitle">Company Contact No:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="123"></ion-input>
      
        <ion-label position="stacked" class="cardsubtitle">Company Email Address:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="Nintendo@gmail.com"></ion-input>
      
        <ion-label position="stacked" class="cardsubtitle">Company Size:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="5000"></ion-input>
      
        <ion-label position="stacked" class="cardsubtitle">Average Processing Time:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="3 days"></ion-input>
      
        <ion-label position="stacked" class="cardsubtitle">Benefits:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="Early access to nintendo products"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card class="cardcontainer">
      <ion-card-header>
        <div style="display: flex; justify-content: space-between;">
          <ion-card-title>About Company</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content>
        
          <ion-textarea autosize [readonly]="true"></ion-textarea>
        
      </ion-card-content>
    </ion-card>

    <ion-card class="cardcontainer">
      <ion-card-header>
        <div style="display: flex; justify-content: space-between;">
          <ion-card-title>Certificate</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-button id="open-modal" slot="end" expand="block" shape="round">View</ion-button>
          <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
            <ng-template>
              <div class="block">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
              </div>
            </ng-template>
        </ion-modal>
      </ion-card-content>
    </ion-card>

    <ion-card class="cardcontainer">
      <ion-card-content>
        <ion-label position="stacked" class="cardsubtitle">Business Registration Number:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="111-11-111"></ion-input>
      
        <ion-label position="stacked" class="cardsubtitle">TIN number:</ion-label>
        <ion-input position="stacked" class="custominput" [readonly]="true" value="111-111-111"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" shape="round" >Accept </ion-button>
    <ion-button expand="block" shape="round" >Decline </ion-button>
  </div>
</ion-content> -->

<ion-content  *ngIf="employer" [fullscreen]="true" >
  <div class="container">
    <div class="avatar" >
      <ion-avatar class="image">
        <img *ngIf="employer?.profileimg; else placeholder_avatar;" [src]="employer.profileimg" />

          <ng-template #placeholder_avatar>
            <div class="fallback">
              <p>Update avatar</p>
            </div>
          </ng-template>
      </ion-avatar>
      <div >
      <span class="caption">{{employer.fname}} {{employer.mname}} {{employer.lname}}</span>
    </div>
  </div>

    <div class="ion-padding">
      <!-- Employer Profile-->
      <ion-card *ngIf="employer">
        <ion-card-header>
          <div style="display: flex; justify-content: space-between;">
            <ion-card-title>Employer Profile</ion-card-title>
            <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/editemployerprofile']"></ion-icon> -->
          </div>
        </ion-card-header>
        <ion-card-content>
            <ion-label class="cardsubtitle">Name: </ion-label>
            <ion-input value="{{employer.fname}} {{employer.mname}} {{employer.lname}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Citizenship: </ion-label>
            <ion-input value="{{employer.citizenship}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Contact Number: </ion-label>
            <ion-input  value="{{employer.contact}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Email Address: </ion-label>
            <ion-input  value="{{employer.email}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">TIN Number: </ion-label>
            <ion-input  value="{{employer.contact}}" [readonly]="true"></ion-input>
        </ion-card-content>
      </ion-card> 

      <!-- Company Details-->
      <ion-card *ngIf="company">
        <ion-card-header>
          <div style="display: flex; justify-content: space-between;">
            <ion-card-title>Company Details</ion-card-title>
            <!-- <ion-icon style="float: right;" name="create" class="edit" [routerLink]="['/editcompanydetails']"></ion-icon> -->
          </div>
        </ion-card-header>
        <ion-card-content>

            <ion-avatar class="image">
              <img *ngIf="company?.imageurl; else placeholder_avatar;" [src]="company.imageurl">
    
                <ng-template #placeholder_avatar>
                  <div class="fallback">
                    <p>Update avatar</p>
                  </div>
                </ng-template>
            </ion-avatar>
          

            <ion-label class="cardsubtitle">Company Name: </ion-label>
            <ion-input value="{{company.cname}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Company Address: </ion-label>
            <ion-input value="{{company.companyaddress}} " [readonly]="true"></ion-input>
            <ion-label>Company Contact Number: </ion-label>
            <ion-input  value="{{company.ccontact}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Company Email Address: </ion-label>
            <ion-input value="{{company.cemail}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Business Registration Number: </ion-label>
            <ion-input value="{{company.brnumber}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Registration Certificate: </ion-label>
            <ion-button id="open-modal" expand="block" shape="round">View</ion-button>
            <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
              <ng-template>
                <div class="block">
                  <img *ngIf="company?.imageUrl; else placeholder_avatar;" [src]="company.imageUrl" />
                </div>
              </ng-template>
            </ion-modal>

            <ion-label class="cardsubtitle">Company Size: </ion-label>
            <ion-input value="{{company.csize}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Average Processing Time: </ion-label>
            <ion-input value="{{company.cprocessingtime2}} {{company.cprocessingtime1}}" [readonly]="true"></ion-input>

            <ion-label class="cardsubtitle">Benefits: </ion-label>
            <ion-textarea value="{{company.cbenefits}}" autosize  [readonly]="true"></ion-textarea>

            <ion-label class="cardsubtitle">About Company: </ion-label>
            <ion-textarea autoGrow="true" value="{{company.cdetails}}" autosize  [readonly]="true"></ion-textarea>

        </ion-card-content>
      </ion-card>     
      <ion-buttons fill="solid" class="btns">
        <ion-button (click)="decline(company)" class="decline" *ngIf="company.status == 'Pending';" type="Submit"  expand="block" fill="solid" shape="round" >Decline Registration</ion-button>
        <ion-button (click)="accept(company)" *ngIf="company.status == 'Pending';" class="accept" type="Submit"  expand="block" fill="solid" shape="round" >Accept Registration</ion-button>
        
        <ion-button class="decline" *ngIf="company.status == 'Declined';" expand="block" fill="solid" shape="round" >Registration Declined</ion-button>
        <ion-button *ngIf="company.status == 'Accepted';" class="accept" expand="block" fill="solid" shape="round" >Registration Accepted</ion-button>
      </ion-buttons>
      

    </div> 
</div>
</ion-content>


