<ion-header >
  <ion-toolbar>
      <ion-buttons [routerLink]="" slot="start">
        <ion-icon style="width: 50px; color: white;" name="arrow-back-outline">  </ion-icon>
      </ion-buttons> 
      <ion-label>New Message</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="addrecipient">
    <ion-input class="recipient" placeholder="Recipient"></ion-input>
    <ion-button fill="clear">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </div>
  <div class="message">
    <ion-input class="messageinput" placeholder="Type Message"></ion-input>
    <ion-button fill="clear">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</ion-content>
